<a href="https://colab.research.google.com/github/salsaimon/proyecto_recursoshumanos/blob/main/FIN_procesamiento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## CONEXION BASE DE DATOS

In [26]:
#  pandas actualizado correctamente
!pip install --upgrade pandas

# importar pandas y sqlite3
import pandas as pd
import sqlite3 as sql

# Crear una conexión a la base de datos SQLite
conn = sql.connect('/content/drive/MyDrive/analitica3win/proyecto_recursoshumanos/base.db')

# Consultar las primeras filas de cada tabla
print("\nDatos de la tabla 'retiros':")
df_retiros = pd.read_sql("SELECT * FROM retiros", conn)
print(df_retiros)

print("\nDatos de la tabla 'general':")
df_general = pd.read_sql("SELECT * FROM general", conn)
print(df_general)

print("\nDatos de la tabla 'employee':")
df_employee = pd.read_sql("SELECT * FROM employee", conn)
print(df_employee)

print("\nDatos de la tabla 'manager':")
df_manager = pd.read_sql("SELECT * FROM manager", conn)
print(df_manager)

# Realizar consultas SQL para análisis
print("\nConteo de 'Attrition' en la tabla 'retiros':")
attrition_count = pd.read_sql("SELECT Attrition, COUNT(*) FROM retiros GROUP BY Attrition", conn)
print(attrition_count)

print("\nConteo de 'BusinessTravel' en la tabla 'general':")
business_travel_count = pd.read_sql("SELECT BusinessTravel, COUNT(*) FROM general GROUP BY BusinessTravel", conn)
print(business_travel_count)

print("\nConteo de 'JobSatisfaction' en la tabla 'employee':")
job_satisfaction_count = pd.read_sql("SELECT JobSatisfaction, COUNT(*) FROM employee GROUP BY JobSatisfaction", conn)
print(job_satisfaction_count)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Datos de la tabla 'retiros':
     index  EmployeeID Attrition retirementType resignationReason  Year
0        0           2       Yes    Resignation            Others  2016
1        1           7       Yes    Resignation            Stress  2016
2        2          14       Yes    Resignation            Others  2016
3        3          29       Yes    Resignation            Others  2016
4        4          31       Yes    Resignation            Salary  2016
..     ...         ...       ...            ...               ...   ...
706    706        4382       Yes    Resignation            Salary  2015
707    707        4387       Yes    Resignation            Others  2015
708    708        4389       Yes    Resignation            Others  2015
709    709        4392       Yes          Fired              None  2015
710    710        4403       Yes    Resignation            Stress  2015

[711 rows x 6 columns]

Datos de la tabla 'general':
      index  Age     BusinessTravel              Department  DistanceFromHome  \
0         0   51      Travel_Rarely                   Sales                 6
1         1   31  Travel_Frequently  Research & Development                10
2         2   32  Travel_Frequently  Research & Development                17
3         3   38         Non-Travel  Research & Development                 2
4         4   32      Travel_Rarely  Research & Development                10
...     ...  ...                ...                     ...               ...
8815   8815   42      Travel_Rarely  Research & Development                 5
8816   8816   29      Travel_Rarely  Research & Development                 2
8817   8817   25      Travel_Rarely  Research & Development                25
8818   8818   42      Travel_Rarely                   Sales                18
8819   8819   40      Travel_Rarely  Research & Development                28

      Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0             2  Life Sciences              1           1  Female  ...
1             1  Life Sciences              1           2  Female  ...
2             4          Other              1           3    Male  ...
3             5  Life Sciences              1           4    Male  ...
4             1        Medical              1           5    Male  ...
...         ...            ...            ...         ...     ...  ...
8815          4        Medical              1        4406  Female  ...
8816          4        Medical              1        4407    Male  ...
8817          2  Life Sciences              1        4408    Male  ...
8818          2        Medical              1        4409    Male  ...
8819          3        Medical              1        4410    Male  ...

      Over18 PercentSalaryHike StandardHours  StockOptionLevel  \
0          Y                11             8                 0
1          Y                23             8                 1
2          Y                15             8                 3
3          Y                11             8                 3
4          Y                12             8                 2
...      ...               ...           ...               ...
8815       Y                17             8                 1
8816       Y                15             8                 0
8817       Y                20             8                 0
8818       Y                14             8                 1
8819       Y                12             8                 0

      TotalWorkingYears TrainingTimesLastYear  YearsAtCompany  \
0                   1.0                     6               1
1                   6.0                     3               5
2                   5.0                     2               5
3                  13.0                     5               8
4                   9.0                     2               6
...                 ...                   ...             ...
8815               10.0                     5               3
8816               10.0                     2               3
8817                5.0                     4               4
8818               10.0                     2               9
8819                NaN                     6              21

      YearsSinceLastPromotion  YearsWithCurrManager  Year
0                           0                     0  2015
1                           1                     4  2015
2                           0                     3  2015
3                           7                     5  2015
4                           0                     4  2015
...                       ...                   ...   ...
8815                        0                     2  2016
8816                        0                     2  2016
8817                        1                     2  2016
8818                        7                     8  2016
8819                        3                     9  2016

[8820 rows x 25 columns]

Datos de la tabla 'employee':
      index  EmployeeID  EnvironmentSatisfaction  JobSatisfaction  \
0         0           1                      3.0              4.0
1         1           2                      3.0              2.0
2         2           3                      2.0              2.0
3         3           4                      4.0              4.0
4         4           5                      4.0              1.0
...     ...         ...                      ...              ...
8815   8815        4406                      4.0              1.0
8816   8816        4407                      4.0              4.0
8817   8817        4408                      1.0              3.0
8818   8818        4409                      4.0              1.0
8819   8819        4410                      1.0              3.0

      WorkLifeBalance  Year
0                 2.0  2015
1                 4.0  2015
2                 1.0  2015
3                 3.0  2015
4                 3.0  2015
...               ...   ...
8815              3.0  2016
8816              3.0  2016
8817              3.0  2016
8818              3.0  2016
8819              NaN  2016

[8820 rows x 6 columns]

Datos de la tabla 'manager':
      index  EmployeeID  JobInvolvement  PerformanceRating  Year
0         0           1               3                  3  2015
1         1           2               2                  4  2015
2         2           3               3                  3  2015
3         3           4               2                  3  2015
4         4           5               3                  3  2015
...     ...         ...             ...                ...   ...
8815   8815        4406               3                  3  2016
8816   8816        4407               2                  3  2016
8817   8817        4408               3                  4  2016
8818   8818        4409               2                  3  2016
8819   8819        4410               4                  3  2016

[8820 rows x 5 columns]

Conteo de 'Attrition' en la tabla 'retiros':
  Attrition  COUNT(*)
0       Yes       711

Conteo de 'BusinessTravel' en la tabla 'general':
      BusinessTravel  COUNT(*)
0         Non-Travel       900
1  Travel_Frequently      1662
2      Travel_Rarely      6258

Conteo de 'JobSatisfaction' en la tabla 'employee':
   JobSatisfaction  COUNT(*)
0              NaN        40
1              1.0      1720
2              2.0      1680
3              3.0      2646
4              4.0      2734

## UNION DE TABLAS

In [27]:
df_general

,index,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Year
0,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,Y,11,8,0,1.0,6,1,0,0,2015
1,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,Y,23,8,1,6.0,3,5,1,4,2015
2,2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,Y,15,8,3,5.0,2,5,0,3,2015
3,3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,Y,11,8,3,13.0,5,8,7,5,2015
4,4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,Y,12,8,2,9.0,2,6,0,4,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8815,8815,42,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,Y,17,8,1,10.0,5,3,0,2,2016
8816,8816,29,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,Y,15,8,0,10.0,2,3,0,2,2016
8817,8817,25,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,Y,20,8,0,5.0,4,4,1,2,2016
8818,8818,42,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,Y,14,8,1,10.0,2,9,7,8,2016
8819,8819,40,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,Y,12,8,0,NaN,6,21,3,9,2016

In [29]:
##Unificamos manager, employee y general
# Merge entre df_general y df_employee por EmployeeID y Year
merged_general_employee = pd.merge(df_general, df_employee, on=["EmployeeID", "Year"], how="outer")

# Merge entre el resultado anterior (general + employee) y df_manager por EmployeeID y Year
merged_final = pd.merge(merged_general_employee, df_manager, on=["EmployeeID", "Year"], how="outer")

# Mostrar las primeras filas del DataFrame resultante
print("\nDatos combinados:")
print(merged_final)
merged_final

Datos combinados:
      index_x  Age     BusinessTravel              Department  \
0           0   51      Travel_Rarely                   Sales
1        4410   51      Travel_Rarely                   Sales
2           1   31  Travel_Frequently  Research & Development
3           2   32  Travel_Frequently  Research & Development
4        4412   32  Travel_Frequently  Research & Development
...       ...  ...                ...                     ...
8815     8798   33      Travel_Rarely                   Sales
8816     4391   32      Travel_Rarely                   Sales
8817     8801   32      Travel_Rarely                   Sales
8818     4402   37  Travel_Frequently                   Sales
8819     8812   37  Travel_Frequently                   Sales

      DistanceFromHome  Education EducationField  EmployeeCount  EmployeeID  \
0                    6          2  Life Sciences              1           1
1                    6          2  Life Sciences              1           1
2                   10          1  Life Sciences              1           2
3                   17          4          Other              1           3
4                   17          4          Other              1           3
...                ...        ...            ...            ...         ...
8815                 1          3  Life Sciences              1        8799
8816                23          1  Life Sciences              1        8802
8817                23          1  Life Sciences              1        8802
8818                 2          3      Marketing              1        8813
8819                 2          3      Marketing              1        8813

      Gender  ...  YearsSinceLastPromotion YearsWithCurrManager  Year  \
0     Female  ...                        0                    0  2015
1     Female  ...                        0                    0  2016
2     Female  ...                        1                    4  2015
3       Male  ...                        0                    3  2015
4       Male  ...                        0                    3  2016
...      ...  ...                      ...                  ...   ...
8815    Male  ...                        1                    7  2016
8816    Male  ...                        1                    2  2015
8817    Male  ...                        1                    2  2016
8818    Male  ...                        0                    0  2015
8819    Male  ...                        0                    0  2016

      index_y  EnvironmentSatisfaction JobSatisfaction  WorkLifeBalance  \
0           0                      3.0             4.0              2.0
1        4410                      3.0             4.0              2.0
2           1                      3.0             2.0              4.0
3           2                      2.0             2.0              1.0
4        4412                      2.0             2.0              1.0
...       ...                      ...             ...              ...
8815     8798                      1.0             1.0              4.0
8816     4391                      4.0             3.0              1.0
8817     8801                      4.0             3.0              1.0
8818     4402                      1.0             3.0              3.0
8819     8812                      1.0             3.0              3.0

      index  JobInvolvement  PerformanceRating
0         0               3                  3
1      4410               3                  3
2         1               2                  4
3         2               3                  3
4      4412               3                  3
...     ...             ...                ...
8815   8798               3                  3
8816   4391               3                  3
8817   8801               3                  3
8818   4402               3                  3
8819   8812               3                  3

[8820 rows x 32 columns]

,index_x,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,YearsSinceLastPromotion,YearsWithCurrManager,Year,index_y,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,index,JobInvolvement,PerformanceRating
0,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,0,0,2015,0,3.0,4.0,2.0,0,3,3
1,4410,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,0,0,2016,4410,3.0,4.0,2.0,4410,3,3
2,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,1,4,2015,1,3.0,2.0,4.0,1,2,4
3,2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,0,3,2015,2,2.0,2.0,1.0,2,3,3
4,4412,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,0,3,2016,4412,2.0,2.0,1.0,4412,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8815,8798,33,Travel_Rarely,Sales,1,3,Life Sciences,1,8799,Male,...,1,7,2016,8798,1.0,1.0,4.0,8798,3,3
8816,4391,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,...,1,2,2015,4391,4.0,3.0,1.0,4391,3,3
8817,8801,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,...,1,2,2016,8801,4.0,3.0,1.0,8801,3,3
8818,4402,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,...,0,0,2015,4402,1.0,3.0,3.0,4402,3,3
8819,8812,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,...,0,0,2016,8812,1.0,3.0,3.0,8812,3,3

In [30]:
df_retiros

     index  EmployeeID Attrition retirementType resignationReason  Year
0        0           2       Yes    Resignation            Others  2016
1        1           7       Yes    Resignation            Stress  2016
2        2          14       Yes    Resignation            Others  2016
3        3          29       Yes    Resignation            Others  2016
4        4          31       Yes    Resignation            Salary  2016
..     ...         ...       ...            ...               ...   ...
706    706        4382       Yes    Resignation            Salary  2015
707    707        4387       Yes    Resignation            Others  2015
708    708        4389       Yes    Resignation            Others  2015
709    709        4392       Yes          Fired              None  2015
710    710        4403       Yes    Resignation            Stress  2015

[711 rows x 6 columns]

In [32]:
#Filtramos solamente a el años (2015 no me interesa por el momento)
df_con2015= df_retiros[df_retiros['Year'] == 2015]

In [33]:
df_retiros = df_retiros.drop(df_con2015.index)

In [34]:
df_retiros

     index  EmployeeID Attrition retirementType resignationReason  Year
0        0           2       Yes    Resignation            Others  2016
1        1           7       Yes    Resignation            Stress  2016
2        2          14       Yes    Resignation            Others  2016
3        3          29       Yes    Resignation            Others  2016
4        4          31       Yes    Resignation            Salary  2016
..     ...         ...       ...            ...               ...   ...
645    645        3973       Yes    Resignation            Others  2016
646    646        3974       Yes    Resignation            Others  2016
647    647        3980       Yes    Resignation            Others  2016
648    648        3981       Yes    Resignation            Others  2016
649    649        3995       Yes    Resignation            Others  2016

[650 rows x 6 columns]

In [37]:
# Eliminar las columnas 'index' y 'Year' directamente en df_retiro
df_retiros.drop(columns=['index', 'Year'], inplace=True)

# Mostrar el DataFrame resultante
print(df_retiros.head())
df_retiros

KeyError: "['index', 'Year'] not found in axis"

In [38]:
df_retiros

     EmployeeID Attrition retirementType resignationReason
0             2       Yes    Resignation            Others
1             7       Yes    Resignation            Stress
2            14       Yes    Resignation            Others
3            29       Yes    Resignation            Others
4            31       Yes    Resignation            Salary
..          ...       ...            ...               ...
645        3973       Yes    Resignation            Others
646        3974       Yes    Resignation            Others
647        3980       Yes    Resignation            Others
648        3981       Yes    Resignation            Others
649        3995       Yes    Resignation            Others

[650 rows x 4 columns]

In [39]:
#al merge final le agregaremos el df de retiros

df_mergedtriple = pd.merge(merged_final,df_retiros, on=['EmployeeID'],how='outer')

In [40]:
df_mergedtriple

,index_x,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,index_y,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,index,JobInvolvement,PerformanceRating,Attrition,retirementType,resignationReason
0,0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,0,3.0,4.0,2.0,0,3,3,NaN,NaN,NaN
1,4410,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,4410,3.0,4.0,2.0,4410,3,3,NaN,NaN,NaN
2,1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,1,3.0,2.0,4.0,1,2,4,Yes,Resignation,Others
3,2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,2,2.0,2.0,1.0,2,3,3,NaN,NaN,NaN
4,4412,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,4412,2.0,2.0,1.0,4412,3,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8815,8798,33,Travel_Rarely,Sales,1,3,Life Sciences,1,8799,Male,...,8798,1.0,1.0,4.0,8798,3,3,NaN,NaN,NaN
8816,4391,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,...,4391,4.0,3.0,1.0,4391,3,3,NaN,NaN,NaN
8817,8801,32,Travel_Rarely,Sales,23,1,Life Sciences,1,8802,Male,...,8801,4.0,3.0,1.0,8801,3,3,NaN,NaN,NaN
8818,4402,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,...,4402,1.0,3.0,3.0,4402,3,3,NaN,NaN,NaN
8819,8812,37,Travel_Frequently,Sales,2,3,Marketing,1,8813,Male,...,8812,1.0,3.0,3.0,8812,3,3,NaN,NaN,NaN