<a href="https://colab.research.google.com/github/salsaimon/proyecto_recursoshumanos/blob/main/preprocesamientoSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#  pandas actualizado correctamente
!pip install --upgrade pandas

# importar pandas y sqlite3
import pandas as pd
import sqlite3 as sql

# Crear una conexión a la base de datos SQLite
conn = sql.connect('/content/drive/MyDrive/analitica3win/proyecto_recursoshumanos/base.db')

# Consultar las primeras filas de cada tabla
print("\nDatos de la tabla 'retiros':")
df_retiros = pd.read_sql("SELECT * FROM retiros LIMIT 5", conn)
print(df_retiros)

print("\nDatos de la tabla 'general':")
df_general = pd.read_sql("SELECT * FROM general LIMIT 5", conn)
print(df_general)

print("\nDatos de la tabla 'employee':")
df_employee = pd.read_sql("SELECT * FROM employee LIMIT 5", conn)
print(df_employee)

print("\nDatos de la tabla 'manager':")
df_manager = pd.read_sql("SELECT * FROM manager LIMIT 5", conn)
print(df_manager)

# Realizar consultas SQL para análisis
print("\nConteo de 'Attrition' en la tabla 'retiros':")
attrition_count = pd.read_sql("SELECT Attrition, COUNT(*) FROM retiros GROUP BY Attrition", conn)
print(attrition_count)

print("\nConteo de 'BusinessTravel' en la tabla 'general':")
business_travel_count = pd.read_sql("SELECT BusinessTravel, COUNT(*) FROM general GROUP BY BusinessTravel", conn)
print(business_travel_count)

# Realizar más consultas según sea necesario
# Ejemplo: Conteo de 'JobSatisfaction' en la tabla 'employee'
print("\nConteo de 'JobSatisfaction' en la tabla 'employee':")
job_satisfaction_count = pd.read_sql("SELECT JobSatisfaction, COUNT(*) FROM employee GROUP BY JobSatisfaction", conn)
print(job_satisfaction_count)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Collecting pandas
  Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 57.4 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.1.4
    Uninstalling pandas-2.1.4:
      Successfully uninstalled pandas-2.1.4
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
cudf-cu12 24.4.1 requires pandas<2.2.2dev0,>=2.0, but you have pandas 2.2.2 which is incompatible.
google-colab 1.0.0 requires pandas==2.1.4, but you have pandas 2.2.2 which is incompatible.
Successfully installed pandas-2.2.2

Datos de la tabla 'retiros':
   index  EmployeeID Attrition       retirementDate retirementType  \
0      0           2       Yes  2016-10-15 00:00:00    Resignation
1      1           7       Yes  2016-07-20 00:00:00    Resignation
2      2          14       Yes  2016-11-08 00:00:00    Resignation
3      3          29       Yes  2016-10-15 00:00:00    Resignation
4      4          31       Yes  2016-02-08 00:00:00    Resignation

  resignationReason
0            Others
1            Stress
2            Others
3            Others
4            Salary

Datos de la tabla 'general':
   index  Age     BusinessTravel              Department  DistanceFromHome  \
0      0   51      Travel_Rarely                   Sales                 6
1      1   31  Travel_Frequently  Research & Development                10
2      2   32  Travel_Frequently  Research & Development                17
3      3   38         Non-Travel  Research & Development                 2
4      4   32      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked PercentSalaryHike StandardHours  StockOptionLevel  \
0                 1.0                11             8                 0
1                 0.0                23             8                 1
2                 1.0                15             8                 3
3                 3.0                11             8                 3
4                 4.0                12             8                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                1.0                      6               1
1                6.0                      3               5
2                5.0                      2               5
3               13.0                      5               8
4                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager             InfoDate
0                        0                     0  2015-12-31 00:00:00
1                        1                     4  2015-12-31 00:00:00
2                        0                     3  2015-12-31 00:00:00
3                        7                     5  2015-12-31 00:00:00
4                        0                     4  2015-12-31 00:00:00

[5 rows x 24 columns]

Datos de la tabla 'employee':
   index  EmployeeID  EnvironmentSatisfaction  JobSatisfaction  \
0      0           1                      3.0              4.0
1      1           2                      3.0              2.0
2      2           3                      2.0              2.0
3      3           4                      4.0              4.0
4      4           5                      4.0              1.0

   WorkLifeBalance           DateSurvey
0              2.0  2015-12-31 00:00:00
1              4.0  2015-12-31 00:00:00
2              1.0  2015-12-31 00:00:00
3              3.0  2015-12-31 00:00:00
4              3.0  2015-12-31 00:00:00

Datos de la tabla 'manager':
   index  EmployeeID  JobInvolvement  PerformanceRating           SurveyDate
0      0           1               3                  3  2015-12-31 00:00:00
1      1           2               2                  4  2015-12-31 00:00:00
2      2           3               3                  3  2015-12-31 00:00:00
3      3           4               2                  3  2015-12-31 00:00:00
4      4           5               3                  3  2015-12-31 00:00:00

Conteo de 'Attrition' en la tabla 'retiros':
  Attrition  COUNT(*)
0       Yes       711

Conteo de 'BusinessTravel' en la tabla 'general':
      BusinessTravel  COUNT(*)
0         Non-Travel       900
1  Travel_Frequently      1662
2      Travel_Rarely      6258

Conteo de 'JobSatisfaction' en la tabla 'employee':
   JobSatisfaction  COUNT(*)
0              NaN        40
1              1.0      1720
2              2.0      1680
3              3.0      2646
4              4.0      2734

In [3]:
# Obtener la lista de tablas en la base de datos
tables = [row[0] for row in conn.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()]

# Mostrar información sobre cada tabla y sus columnas
for table in tables:
    print(f"\nInformación sobre la tabla '{table}':")

    # Consultar las primeras filas de la tabla
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5", conn)
    print(f"\nPrimeras 5 filas de la tabla '{table}':")
    print(df)

    # Mostrar la estructura de la tabla (tipos de datos)
    print(f"\nEstructura de la tabla '{table}':")
    cur = conn.cursor()
    cur.execute(f"PRAGMA table_info({table})")
    structure = cur.fetchall()
    for column in structure:
        print(f"Columna: {column[1]}, Tipo: {column[2]}")

Información sobre la tabla 'retiros':

Primeras 5 filas de la tabla 'retiros':
   index  EmployeeID Attrition       retirementDate retirementType  \
0      0           2       Yes  2016-10-15 00:00:00    Resignation
1      1           7       Yes  2016-07-20 00:00:00    Resignation
2      2          14       Yes  2016-11-08 00:00:00    Resignation
3      3          29       Yes  2016-10-15 00:00:00    Resignation
4      4          31       Yes  2016-02-08 00:00:00    Resignation

  resignationReason
0            Others
1            Stress
2            Others
3            Others
4            Salary

Estructura de la tabla 'retiros':
Columna: index, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: Attrition, Tipo: TEXT
Columna: retirementDate, Tipo: TIMESTAMP
Columna: retirementType, Tipo: TEXT
Columna: resignationReason, Tipo: TEXT

Información sobre la tabla 'general':

Primeras 5 filas de la tabla 'general':
   index  Age     BusinessTravel              Department  DistanceFromHome  \
0      0   51      Travel_Rarely                   Sales                 6
1      1   31  Travel_Frequently  Research & Development                10
2      2   32  Travel_Frequently  Research & Development                17
3      3   38         Non-Travel  Research & Development                 2
4      4   32      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked PercentSalaryHike StandardHours  StockOptionLevel  \
0                 1.0                11             8                 0
1                 0.0                23             8                 1
2                 1.0                15             8                 3
3                 3.0                11             8                 3
4                 4.0                12             8                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                1.0                      6               1
1                6.0                      3               5
2                5.0                      2               5
3               13.0                      5               8
4                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager             InfoDate
0                        0                     0  2015-12-31 00:00:00
1                        1                     4  2015-12-31 00:00:00
2                        0                     3  2015-12-31 00:00:00
3                        7                     5  2015-12-31 00:00:00
4                        0                     4  2015-12-31 00:00:00

[5 rows x 24 columns]

Estructura de la tabla 'general':
Columna: index, Tipo: INTEGER
Columna: Age, Tipo: INTEGER
Columna: BusinessTravel, Tipo: TEXT
Columna: Department, Tipo: TEXT
Columna: DistanceFromHome, Tipo: INTEGER
Columna: Education, Tipo: INTEGER
Columna: EducationField, Tipo: TEXT
Columna: EmployeeCount, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: Gender, Tipo: TEXT
Columna: JobLevel, Tipo: INTEGER
Columna: JobRole, Tipo: TEXT
Columna: MaritalStatus, Tipo: TEXT
Columna: MonthlyIncome, Tipo: INTEGER
Columna: NumCompaniesWorked, Tipo: REAL
Columna: PercentSalaryHike, Tipo: INTEGER
Columna: StandardHours, Tipo: INTEGER
Columna: StockOptionLevel, Tipo: INTEGER
Columna: TotalWorkingYears, Tipo: REAL
Columna: TrainingTimesLastYear, Tipo: INTEGER
Columna: YearsAtCompany, Tipo: INTEGER
Columna: YearsSinceLastPromotion, Tipo: INTEGER
Columna: YearsWithCurrManager, Tipo: INTEGER
Columna: InfoDate, Tipo: TIMESTAMP

Información sobre la tabla 'employee':

Primeras 5 filas de la tabla 'employee':
   index  EmployeeID  EnvironmentSatisfaction  JobSatisfaction  \
0      0           1                      3.0              4.0
1      1           2                      3.0              2.0
2      2           3                      2.0              2.0
3      3           4                      4.0              4.0
4      4           5                      4.0              1.0

   WorkLifeBalance           DateSurvey
0              2.0  2015-12-31 00:00:00
1              4.0  2015-12-31 00:00:00
2              1.0  2015-12-31 00:00:00
3              3.0  2015-12-31 00:00:00
4              3.0  2015-12-31 00:00:00

Estructura de la tabla 'employee':
Columna: index, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: EnvironmentSatisfaction, Tipo: REAL
Columna: JobSatisfaction, Tipo: REAL
Columna: WorkLifeBalance, Tipo: REAL
Columna: DateSurvey, Tipo: TIMESTAMP

Información sobre la tabla 'manager':

Primeras 5 filas de la tabla 'manager':
   index  EmployeeID  JobInvolvement  PerformanceRating           SurveyDate
0      0           1               3                  3  2015-12-31 00:00:00
1      1           2               2                  4  2015-12-31 00:00:00
2      2           3               3                  3  2015-12-31 00:00:00
3      3           4               2                  3  2015-12-31 00:00:00
4      4           5               3                  3  2015-12-31 00:00:00

Estructura de la tabla 'manager':
Columna: index, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: JobInvolvement, Tipo: INTEGER
Columna: PerformanceRating, Tipo: INTEGER
Columna: SurveyDate, Tipo: TIMESTAMP