<a href="https://colab.research.google.com/github/salsaimon/proyecto_recursoshumanos/blob/main/preprocesamientoSQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [94]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [96]:
#  pandas actualizado correctamente
!pip install --upgrade pandas

# importar pandas y sqlite3
import pandas as pd
import sqlite3 as sql

# Crear una conexión a la base de datos SQLite
conn = sql.connect('/content/drive/MyDrive/analitica3win/proyecto_recursoshumanos/base.db')

# Consultar las primeras filas de cada tabla
print("\nDatos de la tabla 'retiros':")
df_retiros = pd.read_sql("SELECT * FROM retiros LIMIT 5", conn)
print(df_retiros)

print("\nDatos de la tabla 'general':")
df_general = pd.read_sql("SELECT * FROM general LIMIT 5", conn)
print(df_general)

print("\nDatos de la tabla 'employee':")
df_employee = pd.read_sql("SELECT * FROM employee LIMIT 5", conn)
print(df_employee)

print("\nDatos de la tabla 'manager':")
df_manager = pd.read_sql("SELECT * FROM manager LIMIT 5", conn)
print(df_manager)

# Realizar consultas SQL para análisis
print("\nConteo de 'Attrition' en la tabla 'retiros':")
attrition_count = pd.read_sql("SELECT Attrition, COUNT(*) FROM retiros GROUP BY Attrition", conn)
print(attrition_count)

print("\nConteo de 'BusinessTravel' en la tabla 'general':")
business_travel_count = pd.read_sql("SELECT BusinessTravel, COUNT(*) FROM general GROUP BY BusinessTravel", conn)
print(business_travel_count)

# Realizar más consultas según sea necesario
# Ejemplo: Conteo de 'JobSatisfaction' en la tabla 'employee'
print("\nConteo de 'JobSatisfaction' en la tabla 'employee':")
job_satisfaction_count = pd.read_sql("SELECT JobSatisfaction, COUNT(*) FROM employee GROUP BY JobSatisfaction", conn)
print(job_satisfaction_count)

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

Datos de la tabla 'retiros':
   index  EmployeeID Attrition       retirementDate retirementType  \
0      0           2       Yes  2016-10-15 00:00:00    Resignation
1      1           7       Yes  2016-07-20 00:00:00    Resignation
2      2          14       Yes  2016-11-08 00:00:00    Resignation
3      3          29       Yes  2016-10-15 00:00:00    Resignation
4      4          31       Yes  2016-02-08 00:00:00    Resignation

  resignationReason
0            Others
1            Stress
2            Others
3            Others
4            Salary

Datos de la tabla 'general':
   index  Age     BusinessTravel              Department  DistanceFromHome  \
0      0   51      Travel_Rarely                   Sales                 6
1      1   31  Travel_Frequently  Research & Development                10
2      2   32  Travel_Frequently  Research & Development                17
3      3   38         Non-Travel  Research & Development                 2
4      4   32      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked PercentSalaryHike StandardHours  StockOptionLevel  \
0                 1.0                11             8                 0
1                 0.0                23             8                 1
2                 1.0                15             8                 3
3                 3.0                11             8                 3
4                 4.0                12             8                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                1.0                      6               1
1                6.0                      3               5
2                5.0                      2               5
3               13.0                      5               8
4                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager             InfoDate
0                        0                     0  2015-12-31 00:00:00
1                        1                     4  2015-12-31 00:00:00
2                        0                     3  2015-12-31 00:00:00
3                        7                     5  2015-12-31 00:00:00
4                        0                     4  2015-12-31 00:00:00

[5 rows x 24 columns]

Datos de la tabla 'employee':
   index  EmployeeID  EnvironmentSatisfaction  JobSatisfaction  \
0      0           1                      3.0              4.0
1      1           2                      3.0              2.0
2      2           3                      2.0              2.0
3      3           4                      4.0              4.0
4      4           5                      4.0              1.0

   WorkLifeBalance           DateSurvey
0              2.0  2015-12-31 00:00:00
1              4.0  2015-12-31 00:00:00
2              1.0  2015-12-31 00:00:00
3              3.0  2015-12-31 00:00:00
4              3.0  2015-12-31 00:00:00

Datos de la tabla 'manager':
   index  EmployeeID  JobInvolvement  PerformanceRating           SurveyDate
0      0           1               3                  3  2015-12-31 00:00:00
1      1           2               2                  4  2015-12-31 00:00:00
2      2           3               3                  3  2015-12-31 00:00:00
3      3           4               2                  3  2015-12-31 00:00:00
4      4           5               3                  3  2015-12-31 00:00:00

Conteo de 'Attrition' en la tabla 'retiros':
  Attrition  COUNT(*)
0       Yes       650

Conteo de 'BusinessTravel' en la tabla 'general':
      BusinessTravel  COUNT(*)
0         Non-Travel       900
1  Travel_Frequently      1662
2      Travel_Rarely      6258

Conteo de 'JobSatisfaction' en la tabla 'employee':
   JobSatisfaction  COUNT(*)
0              NaN        40
1              1.0      1720
2              2.0      1680
3              3.0      2646
4              4.0      2734

In [97]:
# Obtener la lista de tablas en la base de datos
tables = [row[0] for row in conn.execute("SELECT name FROM sqlite_master WHERE type='table'").fetchall()]

# Mostrar información sobre cada tabla y sus columnas
for table in tables:
    print(f"\nInformación sobre la tabla '{table}':")

    # Consultar las primeras filas de la tabla
    df = pd.read_sql(f"SELECT * FROM {table} LIMIT 5", conn)
    print(f"\nPrimeras 5 filas de la tabla '{table}':")
    print(df)

    # Mostrar la estructura de la tabla (tipos de datos)
    print(f"\nEstructura de la tabla '{table}':")
    cur = conn.cursor()
    cur.execute(f"PRAGMA table_info({table})")
    structure = cur.fetchall()
    for column in structure:
        print(f"Columna: {column[1]}, Tipo: {column[2]}")

Información sobre la tabla 'retiros':

Primeras 5 filas de la tabla 'retiros':
   index  EmployeeID Attrition       retirementDate retirementType  \
0      0           2       Yes  2016-10-15 00:00:00    Resignation
1      1           7       Yes  2016-07-20 00:00:00    Resignation
2      2          14       Yes  2016-11-08 00:00:00    Resignation
3      3          29       Yes  2016-10-15 00:00:00    Resignation
4      4          31       Yes  2016-02-08 00:00:00    Resignation

  resignationReason
0            Others
1            Stress
2            Others
3            Others
4            Salary

Estructura de la tabla 'retiros':
Columna: index, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: Attrition, Tipo: TEXT
Columna: retirementDate, Tipo: TIMESTAMP
Columna: retirementType, Tipo: TEXT
Columna: resignationReason, Tipo: TEXT

Información sobre la tabla 'general':

Primeras 5 filas de la tabla 'general':
   index  Age     BusinessTravel              Department  DistanceFromHome  \
0      0   51      Travel_Rarely                   Sales                 6
1      1   31  Travel_Frequently  Research & Development                10
2      2   32  Travel_Frequently  Research & Development                17
3      3   38         Non-Travel  Research & Development                 2
4      4   32      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked PercentSalaryHike StandardHours  StockOptionLevel  \
0                 1.0                11             8                 0
1                 0.0                23             8                 1
2                 1.0                15             8                 3
3                 3.0                11             8                 3
4                 4.0                12             8                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                1.0                      6               1
1                6.0                      3               5
2                5.0                      2               5
3               13.0                      5               8
4                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager             InfoDate
0                        0                     0  2015-12-31 00:00:00
1                        1                     4  2015-12-31 00:00:00
2                        0                     3  2015-12-31 00:00:00
3                        7                     5  2015-12-31 00:00:00
4                        0                     4  2015-12-31 00:00:00

[5 rows x 24 columns]

Estructura de la tabla 'general':
Columna: index, Tipo: INTEGER
Columna: Age, Tipo: INTEGER
Columna: BusinessTravel, Tipo: TEXT
Columna: Department, Tipo: TEXT
Columna: DistanceFromHome, Tipo: INTEGER
Columna: Education, Tipo: INTEGER
Columna: EducationField, Tipo: TEXT
Columna: EmployeeCount, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: Gender, Tipo: TEXT
Columna: JobLevel, Tipo: INTEGER
Columna: JobRole, Tipo: TEXT
Columna: MaritalStatus, Tipo: TEXT
Columna: MonthlyIncome, Tipo: INTEGER
Columna: NumCompaniesWorked, Tipo: REAL
Columna: PercentSalaryHike, Tipo: INTEGER
Columna: StandardHours, Tipo: INTEGER
Columna: StockOptionLevel, Tipo: INTEGER
Columna: TotalWorkingYears, Tipo: REAL
Columna: TrainingTimesLastYear, Tipo: INTEGER
Columna: YearsAtCompany, Tipo: INTEGER
Columna: YearsSinceLastPromotion, Tipo: INTEGER
Columna: YearsWithCurrManager, Tipo: INTEGER
Columna: InfoDate, Tipo: TIMESTAMP

Información sobre la tabla 'employee':

Primeras 5 filas de la tabla 'employee':
   index  EmployeeID  EnvironmentSatisfaction  JobSatisfaction  \
0      0           1                      3.0              4.0
1      1           2                      3.0              2.0
2      2           3                      2.0              2.0
3      3           4                      4.0              4.0
4      4           5                      4.0              1.0

   WorkLifeBalance           DateSurvey
0              2.0  2015-12-31 00:00:00
1              4.0  2015-12-31 00:00:00
2              1.0  2015-12-31 00:00:00
3              3.0  2015-12-31 00:00:00
4              3.0  2015-12-31 00:00:00

Estructura de la tabla 'employee':
Columna: index, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: EnvironmentSatisfaction, Tipo: REAL
Columna: JobSatisfaction, Tipo: REAL
Columna: WorkLifeBalance, Tipo: REAL
Columna: DateSurvey, Tipo: TIMESTAMP

Información sobre la tabla 'manager':

Primeras 5 filas de la tabla 'manager':
   index  EmployeeID  JobInvolvement  PerformanceRating           SurveyDate
0      0           1               3                  3  2015-12-31 00:00:00
1      1           2               2                  4  2015-12-31 00:00:00
2      2           3               3                  3  2015-12-31 00:00:00
3      3           4               2                  3  2015-12-31 00:00:00
4      4           5               3                  3  2015-12-31 00:00:00

Estructura de la tabla 'manager':
Columna: index, Tipo: INTEGER
Columna: EmployeeID, Tipo: INTEGER
Columna: JobInvolvement, Tipo: INTEGER
Columna: PerformanceRating, Tipo: INTEGER
Columna: SurveyDate, Tipo: TIMESTAMP

In [98]:
## tratamiento de la tabla de retiros
# Contar registros por ID de empleado en la tabla de retiros
employee_id_count = pd.read_sql("SELECT EmployeeID, COUNT(*) as count FROM retiros GROUP BY EmployeeID", conn)

# Mostrar el resultado
print("\nConteo de registros por ID de empleado en la tabla 'retiros':")
print(employee_id_count)

Conteo de registros por ID de empleado en la tabla 'retiros':
     EmployeeID  count
0             2      1
1             7      1
2            14      1
3            29      1
4            31      1
..          ...    ...
645        3973      1
646        3974      1
647        3980      1
648        3981      1
649        3995      1

[650 rows x 2 columns]

In [99]:
# Resumen de la columna 'retirementDate'
print("\nResumen de la columna 'retirementDate' en la tabla 'retiros':")

# Contar valores no nulos y nulos
total_retiros = pd.read_sql("SELECT COUNT(*) FROM retiros WHERE retirementDate IS NOT NULL", conn).iloc[0, 0]
total_nulos = pd.read_sql("SELECT COUNT(*) FROM retiros WHERE retirementDate IS NULL", conn).iloc[0, 0]
print(f"Total de fechas de retiro no nulas: {total_retiros}")
print(f"Total de fechas de retiro nulas: {total_nulos}")

# Estadísticas descriptivas
retiros_df = pd.read_sql("SELECT retirementDate FROM retiros WHERE retirementDate IS NOT NULL", conn)
retiros_df['retirementDate'] = pd.to_datetime(retiros_df['retirementDate'])  # Convertir a datetime
print("\nEstadísticas descriptivas de 'retirementDate':")
print(f"Fecha mínima de retiro: {retiros_df['retirementDate'].min()}")
print(f"Fecha máxima de retiro: {retiros_df['retirementDate'].max()}")

# Distribución por año
retiros_df['Año'] = retiros_df['retirementDate'].dt.year
retiros_por_anio = retiros_df.groupby('Año').size().reset_index(name='Cantidad de retiros')
print("\nDistribución de retiros por año:")
print(retiros_por_anio)

Resumen de la columna 'retirementDate' en la tabla 'retiros':
Total de fechas de retiro no nulas: 650
Total de fechas de retiro nulas: 0

Estadísticas descriptivas de 'retirementDate':
Fecha mínima de retiro: 2016-01-02 00:00:00
Fecha máxima de retiro: 2016-12-16 00:00:00

Distribución de retiros por año:
    Año  Cantidad de retiros
0  2016                  650

In [100]:
# Eliminar los registros con fechas de retiro en el año 2015
conn.execute("DELETE FROM retiros WHERE strftime('%Y', retirementDate) = '2015'")
conn.commit()

# Verificar que los registros han sido eliminados
retiros_df = pd.read_sql("SELECT retirementDate FROM retiros WHERE retirementDate IS NOT NULL", conn)
retiros_df['retirementDate'] = pd.to_datetime(retiros_df['retirementDate'])  # Convertir a datetime
print("\nVerificación después de eliminar los datos del año 2015:")
print(f"Fecha mínima de retiro: {retiros_df['retirementDate'].min()}")
print(f"Fecha máxima de retiro: {retiros_df['retirementDate'].max()}")

# Distribución de retiros por año después de eliminar los datos
retiros_df['Año'] = retiros_df['retirementDate'].dt.year
retiros_por_anio = retiros_df.groupby('Año').size().reset_index(name='Cantidad de retiros')
print("\nDistribución de retiros por año después de eliminación:")
print(retiros_por_anio)

Verificación después de eliminar los datos del año 2015:
Fecha mínima de retiro: 2016-01-02 00:00:00
Fecha máxima de retiro: 2016-12-16 00:00:00

Distribución de retiros por año después de eliminación:
    Año  Cantidad de retiros
0  2016                  650

In [101]:
##analisis de retirementType

# Consultar los datos de la columna 'retirementType'
retiros_df = pd.read_sql("SELECT retirementType FROM retiros", conn)

# Contar valores únicos y frecuencia de cada tipo
print("\nResumen de la columna 'retirementType':")
print(f"Valores únicos en 'retirementType': {retiros_df['retirementType'].nunique()}")
print("\nFrecuencia de cada tipo de retiro:")
print(retiros_df['retirementType'].value_counts())

# Contar valores nulos
total_nulos = retiros_df['retirementType'].isnull().sum()
print(f"\nTotal de valores nulos en 'retirementType': {total_nulos}")

Resumen de la columna 'retirementType':
Valores únicos en 'retirementType': 2

Frecuencia de cada tipo de retiro:
retirementType
Resignation    585
Fired           65
Name: count, dtype: int64

Total de valores nulos en 'retirementType': 0

In [108]:
import pandas as pd

# Leer todos los datos de la tabla 'retiros'
retiros_df = pd.read_sql("SELECT * FROM retiros", conn)

# Crear una copia del DataFrame original para modificaciones
retiros_processed_df = retiros_df.copy()

# Codificación One-Hot para la columna 'retirementType' sin eliminar ninguna categoría
encoded_retiros_df = pd.get_dummies(retiros_processed_df['retirementType'], prefix='retirementType')

# Convertir los valores True/False a 0/1
encoded_retiros_df = encoded_retiros_df.astype(int)

# Agregar las columnas codificadas al DataFrame procesado
retiros_processed_df = pd.concat([retiros_processed_df, encoded_retiros_df], axis=1)

# Eliminar la columna original 'retirementType' si ya no es necesaria
retiros_processed_df.drop('retirementType', axis=1, inplace=True)

# Imprimir el DataFrame procesado
print(retiros_processed_df.head())

# Mostrar el tamaño del DataFrame procesado
print(f"\nNúmero total de filas en el DataFrame procesado: {len(retiros_processed_df)}")

   index  EmployeeID Attrition       retirementDate resignationReason  \
0      0           2       Yes  2016-10-15 00:00:00            Others
1      1           7       Yes  2016-07-20 00:00:00            Stress
2      2          14       Yes  2016-11-08 00:00:00            Others
3      3          29       Yes  2016-10-15 00:00:00            Others
4      4          31       Yes  2016-02-08 00:00:00            Salary

   retirementType_Fired  retirementType_Resignation
0                     0                           1
1                     0                           1
2                     0                           1
3                     0                           1
4                     0                           1

Número total de filas en el DataFrame procesado: 650

In [109]:

# Leer todos los datos de la tabla 'retiros'
retiros_df = pd.read_sql("SELECT resignationReason FROM retiros", conn)

# Resumen de la columna 'resignationReason'
unique_reasons = retiros_df['resignationReason'].unique()
reason_counts = retiros_df['resignationReason'].value_counts()
missing_values = retiros_df['resignationReason'].isnull().sum()

# Imprimir resumen
print(f"\nValores únicos en 'resignationReason': {unique_reasons}")
print("\nFrecuencia de cada motivo de renuncia:")
print(reason_counts)
print(f"\nNúmero total de valores nulos en 'resignationReason': {missing_values}")

Valores únicos en 'resignationReason': ['Others' 'Stress' 'Salary' None]

Frecuencia de cada motivo de renuncia:
resignationReason
Others    296
Salary    173
Stress    116
Name: count, dtype: int64

Número total de valores nulos en 'resignationReason': 65

In [110]:
# Reemplazar valores nulos con 'Unknown'
retiros_processed_df['resignationReason'].fillna('Unknown', inplace=True)

# Codificación One-Hot para la columna 'resignationReason'
encoded_reasons_df = pd.get_dummies(retiros_processed_df['resignationReason'], prefix='resignationReason', drop_first=False)

# Convertir valores True/False a 1/0 en las columnas codificadas
encoded_reasons_df = encoded_reasons_df.astype(int)

# Agregar las columnas codificadas al DataFrame procesado
retiros_processed_df = pd.concat([retiros_processed_df, encoded_reasons_df], axis=1)

# Eliminar la columna original 'resignationReason'
retiros_processed_df.drop('resignationReason', axis=1, inplace=True)

# Eliminar la columna 'Unknown' resultante de la codificación
if 'resignationReason_Unknown' in retiros_processed_df.columns:
    retiros_processed_df.drop('resignationReason_Unknown', axis=1, inplace=True)

# Imprimir el DataFrame procesado
print(retiros_processed_df.head())

# Mostrar el tamaño del DataFrame procesado
print(f"\nNúmero total de filas en el DataFrame procesado: {len(retiros_processed_df)}")

   index  EmployeeID Attrition       retirementDate  retirementType_Fired  \
0      0           2       Yes  2016-10-15 00:00:00                     0
1      1           7       Yes  2016-07-20 00:00:00                     0
2      2          14       Yes  2016-11-08 00:00:00                     0
3      3          29       Yes  2016-10-15 00:00:00                     0
4      4          31       Yes  2016-02-08 00:00:00                     0

   retirementType_Resignation  resignationReason_Others  \
0                           1                         1
1                           1                         0
2                           1                         1
3                           1                         1
4                           1                         0

   resignationReason_Salary  resignationReason_Stress
0                         0                         0
1                         0                         1
2                         0                         0
3                         0                         0
4                         1                         0

Número total de filas en el DataFrame procesado: 650

<ipython-input-110-b8b66264da45>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  retiros_processed_df['resignationReason'].fillna('Unknown', inplace=True)

In [111]:
# Imprimir las primeras filas del DataFrame procesado
print("Primeras filas de retiros_processed_df:")
print(retiros_processed_df.head())

# Mostrar el resumen de las nuevas columnas de codificación One-Hot
print("\nResumen de las columnas codificadas para 'resignationReason':")
encoded_columns = [col for col in retiros_processed_df.columns if col.startswith('resignationReason')]
print(retiros_processed_df[encoded_columns].sum())

# Mostrar el número total de filas en el DataFrame procesado
print(f"\nNúmero total de filas en el DataFrame procesado: {len(retiros_processed_df)}")

Primeras filas de retiros_processed_df:
   index  EmployeeID Attrition       retirementDate  retirementType_Fired  \
0      0           2       Yes  2016-10-15 00:00:00                     0
1      1           7       Yes  2016-07-20 00:00:00                     0
2      2          14       Yes  2016-11-08 00:00:00                     0
3      3          29       Yes  2016-10-15 00:00:00                     0
4      4          31       Yes  2016-02-08 00:00:00                     0

   retirementType_Resignation  resignationReason_Others  \
0                           1                         1
1                           1                         0
2                           1                         1
3                           1                         1
4                           1                         0

   resignationReason_Salary  resignationReason_Stress
0                         0                         0
1                         0                         1
2                         0                         0
3                         0                         0
4                         1                         0

Resumen de las columnas codificadas para 'resignationReason':
resignationReason_Others    296
resignationReason_Salary    173
resignationReason_Stress    116
dtype: int64

Número total de filas en el DataFrame procesado: 650

In [112]:
# Verificar si la columna 'resignationReason' está en el DataFrame
if 'resignationReason' in retiros_processed_df.columns:
    # Reemplazar valores nulos con 'Unknown'
    retiros_processed_df['resignationReason'].fillna('Unknown', inplace=True)

    # Codificación One-Hot para la columna 'resignationReason'
    encoded_reasons_df = pd.get_dummies(retiros_processed_df['resignationReason'], prefix='resignationReason', drop_first=False)

    # Agregar las columnas codificadas al DataFrame procesado
    retiros_processed_df = pd.concat([retiros_processed_df, encoded_reasons_df], axis=1)

    # Eliminar la columna original 'resignationReason'
    retiros_processed_df.drop('resignationReason', axis=1, inplace=True)

    # Eliminar la columna 'Unknown' resultante de la codificación
    if 'resignationReason_Unknown' in retiros_processed_df.columns:
        retiros_processed_df.drop('resignationReason_Unknown', axis=1, inplace=True)
else:
    print("La columna 'resignationReason' no está en el DataFrame.")

# Imprimir el DataFrame procesado
print(retiros_processed_df.head())

# Mostrar el tamaño del DataFrame procesado
print(f"\nNúmero total de filas en el DataFrame procesado: {len(retiros_processed_df)}")

La columna 'resignationReason' no está en el DataFrame.
   index  EmployeeID Attrition       retirementDate  retirementType_Fired  \
0      0           2       Yes  2016-10-15 00:00:00                     0
1      1           7       Yes  2016-07-20 00:00:00                     0
2      2          14       Yes  2016-11-08 00:00:00                     0
3      3          29       Yes  2016-10-15 00:00:00                     0
4      4          31       Yes  2016-02-08 00:00:00                     0

   retirementType_Resignation  resignationReason_Others  \
0                           1                         1
1                           1                         0
2                           1                         1
3                           1                         1
4                           1                         0

   resignationReason_Salary  resignationReason_Stress
0                         0                         0
1                         0                         1
2                         0                         0
3                         0                         0
4                         1                         0

Número total de filas en el DataFrame procesado: 650

In [113]:
# Convertir valores True/False a 1/0 en las columnas codificadas
encoded_reasons_df = encoded_reasons_df.astype(int)

# Verificar si las columnas codificadas ya están en el DataFrame
for col in encoded_reasons_df.columns:
    if col in retiros_processed_df.columns:
        # Eliminar las columnas duplicadas
        retiros_processed_df.drop(col, axis=1, inplace=True)

# Agregar las columnas codificadas al DataFrame procesado
retiros_processed_df = pd.concat([retiros_processed_df, encoded_reasons_df], axis=1)

# Eliminar la columna 'Unknown' resultante de la codificación si existe
if 'resignationReason_Unknown' in retiros_processed_df.columns:
    retiros_processed_df.drop('resignationReason_Unknown', axis=1, inplace=True)

# Imprimir el DataFrame procesado
print(retiros_processed_df.head())

   index  EmployeeID Attrition       retirementDate  retirementType_Fired  \
0      0           2       Yes  2016-10-15 00:00:00                     0
1      1           7       Yes  2016-07-20 00:00:00                     0
2      2          14       Yes  2016-11-08 00:00:00                     0
3      3          29       Yes  2016-10-15 00:00:00                     0
4      4          31       Yes  2016-02-08 00:00:00                     0

   retirementType_Resignation  resignationReason_Others  \
0                           1                         1
1                           1                         0
2                           1                         1
3                           1                         1
4                           1                         0

   resignationReason_Salary  resignationReason_Stress
0                         0                         0
1                         0                         1
2                         0                         0
3                         0                         0
4                         1                         0

In [114]:
# Convertir valores True/False a 1/0 en las columnas especificadas
columns_to_convert = ['resignationReason_Others', 'resignationReason_Salary', 'resignationReason_Stress']
retiros_processed_df[columns_to_convert] = retiros_processed_df[columns_to_convert].astype(int)

# Imprimir el DataFrame procesado para verificar
print(retiros_processed_df.head())

   index  EmployeeID Attrition       retirementDate  retirementType_Fired  \
0      0           2       Yes  2016-10-15 00:00:00                     0
1      1           7       Yes  2016-07-20 00:00:00                     0
2      2          14       Yes  2016-11-08 00:00:00                     0
3      3          29       Yes  2016-10-15 00:00:00                     0
4      4          31       Yes  2016-02-08 00:00:00                     0

   retirementType_Resignation  resignationReason_Others  \
0                           1                         1
1                           1                         0
2                           1                         1
3                           1                         1
4                           1                         0

   resignationReason_Salary  resignationReason_Stress
0                         0                         0
1                         0                         1
2                         0                         0
3                         0                         0
4                         1                         0

In [115]:
# Resumen de la columna 'Attrition'
attrition_summary = retiros_processed_df['Attrition'].value_counts()
total_count = len(retiros_processed_df)

# Imprimir el resumen
print("Resumen de la variable 'Attrition':")
print(attrition_summary)
print(f"\nNúmero total de registros en 'Attrition': {total_count}")
print(f"Proporción de cada categoría en 'Attrition':")
print(attrition_summary / total_count)

Resumen de la variable 'Attrition':
Attrition
Yes    650
Name: count, dtype: int64

Número total de registros en 'Attrition': 650
Proporción de cada categoría en 'Attrition':
Attrition
Yes    1.0
Name: count, dtype: float64

In [116]:
# Eliminar la columna 'Attrition' del DataFrame procesado
retiros_processed_df.drop('Attrition', axis=1, inplace=True)

# Imprimir el DataFrame procesado para verificar los cambios
print(retiros_processed_df.head())

# Mostrar el tamaño del DataFrame procesado
print(f"\nNúmero total de filas en el DataFrame procesado: {len(retiros_processed_df)}")

   index  EmployeeID       retirementDate  retirementType_Fired  \
0      0           2  2016-10-15 00:00:00                     0
1      1           7  2016-07-20 00:00:00                     0
2      2          14  2016-11-08 00:00:00                     0
3      3          29  2016-10-15 00:00:00                     0
4      4          31  2016-02-08 00:00:00                     0

   retirementType_Resignation  resignationReason_Others  \
0                           1                         1
1                           1                         0
2                           1                         1
3                           1                         1
4                           1                         0

   resignationReason_Salary  resignationReason_Stress
0                         0                         0
1                         0                         1
2                         0                         0
3                         0                         0
4                         1                         0

Número total de filas en el DataFrame procesado: 650

In [117]:
# Leer los datos de la tabla 'general'
general_df = pd.read_sql("SELECT * FROM general", conn)

# Imprimir las primeras filas del DataFrame
print("Primeras filas de la tabla 'general':")
print(general_df.head())

# Obtener información general sobre el DataFrame
print("\nInformación general de la tabla 'general':")
print(general_df.info())

# Resumen estadístico de las columnas numéricas
print("\nResumen estadístico de las columnas numéricas:")
print(general_df.describe())

# Resumen de las columnas categóricas
print("\nResumen de las columnas categóricas:")
for col in general_df.select_dtypes(include=['object']).columns:
    print(f"\nResumen de la columna '{col}':")
    print(general_df[col].value_counts())

Primeras filas de la tabla 'general':
   index  Age     BusinessTravel              Department  DistanceFromHome  \
0      0   51      Travel_Rarely                   Sales                 6
1      1   31  Travel_Frequently  Research & Development                10
2      2   32  Travel_Frequently  Research & Development                17
3      3   38         Non-Travel  Research & Development                 2
4      4   32      Travel_Rarely  Research & Development                10

   Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
0          2  Life Sciences              1           1  Female  ...
1          1  Life Sciences              1           2  Female  ...
2          4          Other              1           3    Male  ...
3          5  Life Sciences              1           4    Male  ...
4          1        Medical              1           5    Male  ...

   NumCompaniesWorked PercentSalaryHike StandardHours  StockOptionLevel  \
0                 1.0                11             8                 0
1                 0.0                23             8                 1
2                 1.0                15             8                 3
3                 3.0                11             8                 3
4                 4.0                12             8                 2

   TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                1.0                      6               1
1                6.0                      3               5
2                5.0                      2               5
3               13.0                      5               8
4                9.0                      2               6

   YearsSinceLastPromotion  YearsWithCurrManager             InfoDate
0                        0                     0  2015-12-31 00:00:00
1                        1                     4  2015-12-31 00:00:00
2                        0                     3  2015-12-31 00:00:00
3                        7                     5  2015-12-31 00:00:00
4                        0                     4  2015-12-31 00:00:00

[5 rows x 24 columns]

Información general de la tabla 'general':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    8820 non-null   int64
 1   Age                      8820 non-null   int64
 2   BusinessTravel           8820 non-null   object
 3   Department               8820 non-null   object
 4   DistanceFromHome         8820 non-null   int64
 5   Education                8820 non-null   int64
 6   EducationField           8820 non-null   object
 7   EmployeeCount            8820 non-null   int64
 8   EmployeeID               8820 non-null   int64
 9   Gender                   8820 non-null   object
 10  JobLevel                 8820 non-null   int64
 11  JobRole                  8820 non-null   object
 12  MaritalStatus            8820 non-null   object
 13  MonthlyIncome            8820 non-null   int64
 14  NumCompaniesWorked       8782 non-null   float64
 15  PercentSalaryHike        8820 non-null   int64
 16  StandardHours            8820 non-null   int64
 17  StockOptionLevel         8820 non-null   int64
 18  TotalWorkingYears        8802 non-null   float64
 19  TrainingTimesLastYear    8820 non-null   int64
 20  YearsAtCompany           8820 non-null   int64
 21  YearsSinceLastPromotion  8820 non-null   int64
 22  YearsWithCurrManager     8820 non-null   int64
 23  InfoDate                 8820 non-null   object
dtypes: float64(2), int64(15), object(7)
memory usage: 1.6+ MB
None

Resumen estadístico de las columnas numéricas:
             index          Age  DistanceFromHome    Education  EmployeeCount  \
count  8820.000000  8820.000000       8820.000000  8820.000000         8820.0
mean   4409.500000    36.923810          9.192517     2.912925            1.0
std    2546.259021     9.132783          8.104566     1.023875            0.0
min       0.000000    18.000000          1.000000     1.000000            1.0
25%    2204.750000    30.000000          2.000000     2.000000            1.0
50%    4409.500000    36.000000          7.000000     3.000000            1.0
75%    6614.250000    43.000000         14.000000     4.000000            1.0
max    8819.000000    60.000000         29.000000     5.000000            1.0

        EmployeeID     JobLevel  MonthlyIncome  NumCompaniesWorked  \
count  8820.000000  8820.000000    8820.000000         8782.000000
mean   2591.500000     2.063946   65029.312925            2.694830
std    1812.892315     1.106626   47066.219877            2.498745
min       1.000000     1.000000   10090.000000            0.000000
25%    1200.750000     1.000000   29110.000000            1.000000
50%    2401.000000     2.000000   49190.000000            2.000000
75%    3601.000000     3.000000   83800.000000            4.000000
max    8813.000000     5.000000  199990.000000            9.000000

       PercentSalaryHike  StandardHours  StockOptionLevel  TotalWorkingYears  \
count        8820.000000         8820.0       8820.000000        8802.000000
mean           15.209524            8.0          0.793878          11.279936
std             3.658900            0.0          0.851835           7.781780
min            11.000000            8.0          0.000000           0.000000
25%            12.000000            8.0          0.000000           6.000000
50%            14.000000            8.0          1.000000          10.000000
75%            18.000000            8.0          1.000000          15.000000
max            25.000000            8.0          3.000000          40.000000

       TrainingTimesLastYear  YearsAtCompany  YearsSinceLastPromotion  \
count            8820.000000     8820.000000              8820.000000
mean                2.799320        7.008163                 2.187755
std                 1.288905        6.124788                 3.221517
min                 0.000000        0.000000                 0.000000
25%                 2.000000        3.000000                 0.000000
50%                 3.000000        5.000000                 1.000000
75%                 3.000000        9.000000                 3.000000
max                 6.000000       40.000000                15.000000

       YearsWithCurrManager
count           8820.000000
mean               4.123129
std                3.567124
min                0.000000
25%                2.000000
50%                3.000000
75%                7.000000
max               17.000000

Resumen de las columnas categóricas:

Resumen de la columna 'BusinessTravel':
BusinessTravel
Travel_Rarely        6258
Travel_Frequently    1662
Non-Travel            900
Name: count, dtype: int64

Resumen de la columna 'Department':
Department
Research & Development    5766
Sales                     2676
Human Resources            378
Name: count, dtype: int64

Resumen de la columna 'EducationField':
EducationField
Life Sciences       3636
Medical             2784
Marketing            954
Technical Degree     792
Other                492
Human Resources      162
Name: count, dtype: int64

Resumen de la columna 'Gender':
Gender
Male      5292
Female    3528
Name: count, dtype: int64

Resumen de la columna 'JobRole':
JobRole
Sales Executive              1956
Research Scientist           1752
Laboratory Technician        1554
Manufacturing Director        870
Healthcare Representative     786
Manager                       612
Sales Representative          498
Research Director             480
Human Resources               312
Name: count, dtype: int64

Resumen de la columna 'MaritalStatus':
MaritalStatus
Married     4038
Single      2820
Divorced    1962
Name: count, dtype: int64

Resumen de la columna 'InfoDate':
InfoDate
2015-12-31 00:00:00    4410
2016-12-31 00:00:00    4410
Name: count, dtype: int64

In [118]:
# Contar el número de registros por EmployeeID
employee_record_counts = general_df.groupby('EmployeeID').size()

# Mostrar los primeros registros de la cuenta por empleado
print(employee_record_counts.head())

EmployeeID
1    2
2    1
3    2
4    2
5    2
dtype: int64

In [119]:
# Crear una copia del DataFrame original
generalprocessed_df = general_df.copy()

# Agrupar por EmployeeID y calcular el promedio de las columnas numéricas
numeric_cols = generalprocessed_df.select_dtypes(include='number').columns

# Excluir 'EmployeeID' de las columnas numéricas para evitar conflictos
numeric_cols = numeric_cols.difference(['EmployeeID'])
avg_data = generalprocessed_df.groupby('EmployeeID')[numeric_cols].mean().reset_index()

# Mantener la información no numérica utilizando la moda
categorical_cols = generalprocessed_df.select_dtypes(include='object').columns

# Excluir 'EmployeeID' de las columnas categóricas
categorical_cols = categorical_cols.difference(['EmployeeID'])
mode_data = generalprocessed_df.groupby('EmployeeID')[categorical_cols].agg(lambda x: x.mode()[0] if not x.mode().empty else 'Unknown').reset_index()

# Unir los datos promediados con los datos categóricos
generalprocessed_df = avg_data.merge(mode_data, on='EmployeeID')

# Imprimir las primeras filas del nuevo DataFrame
print(generalprocessed_df.head())

# Mostrar información general del nuevo DataFrame
print(generalprocessed_df.info())

   EmployeeID   Age  DistanceFromHome  Education  EmployeeCount  JobLevel  \
0           1  51.0               6.0        2.0            1.0       1.0
1           2  31.0              10.0        1.0            1.0       1.0
2           3  32.0              17.0        4.0            1.0       4.0
3           4  38.0               2.0        5.0            1.0       3.0
4           5  32.0              10.0        1.0            1.0       1.0

   MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StandardHours  ...  \
0       131160.0                 1.0               11.0            8.0  ...
1        41890.0                 0.0               23.0            8.0  ...
2       193280.0                 1.0               15.0            8.0  ...
3        83210.0                 3.0               11.0            8.0  ...
4        23420.0                 4.0               12.0            8.0  ...

   YearsSinceLastPromotion  YearsWithCurrManager   index     BusinessTravel  \
0                      0.0                   0.0  2205.0      Travel_Rarely
1                      1.0                   4.0     1.0  Travel_Frequently
2                      0.0                   3.0  2207.0  Travel_Frequently
3                      7.0                   5.0  2208.0         Non-Travel
4                      0.0                   4.0  2209.0      Travel_Rarely

               Department  EducationField  Gender             InfoDate  \
0                   Sales   Life Sciences  Female  2015-12-31 00:00:00
1  Research & Development   Life Sciences  Female  2015-12-31 00:00:00
2  Research & Development           Other    Male  2015-12-31 00:00:00
3  Research & Development   Life Sciences    Male  2015-12-31 00:00:00
4  Research & Development         Medical    Male  2015-12-31 00:00:00

                     JobRole MaritalStatus
0  Healthcare Representative       Married
1         Research Scientist        Single
2            Sales Executive       Married
3            Human Resources       Married
4            Sales Executive        Single

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5060 entries, 0 to 5059
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               5060 non-null   int64
 1   Age                      5060 non-null   float64
 2   DistanceFromHome         5060 non-null   float64
 3   Education                5060 non-null   float64
 4   EmployeeCount            5060 non-null   float64
 5   JobLevel                 5060 non-null   float64
 6   MonthlyIncome            5060 non-null   float64
 7   NumCompaniesWorked       5037 non-null   float64
 8   PercentSalaryHike        5060 non-null   float64
 9   StandardHours            5060 non-null   float64
 10  StockOptionLevel         5060 non-null   float64
 11  TotalWorkingYears        5049 non-null   float64
 12  TrainingTimesLastYear    5060 non-null   float64
 13  YearsAtCompany           5060 non-null   float64
 14  YearsSinceLastPromotion  5060 non-null   float64
 15  YearsWithCurrManager     5060 non-null   float64
 16  index                    5060 non-null   float64
 17  BusinessTravel           5060 non-null   object
 18  Department               5060 non-null   object
 19  EducationField           5060 non-null   object
 20  Gender                   5060 non-null   object
 21  InfoDate                 5060 non-null   object
 22  JobRole                  5060 non-null   object
 23  MaritalStatus            5060 non-null   object
dtypes: float64(16), int64(1), object(7)
memory usage: 948.9+ KB
None

In [120]:

# Verificar la cantidad de registros únicos por EmployeeID
print("Número único de EmployeeID:", generalprocessed_df['EmployeeID'].nunique())
print("Número total de registros en generalprocessed_df:", generalprocessed_df.shape[0])

# Verificar datos nulos
print("\nDatos nulos en generalprocessed_df:")
print(generalprocessed_df.isnull().sum())

# Revisar estadísticas descriptivas
print("\nResumen estadístico de generalprocessed_df:")
print(generalprocessed_df.describe(include='all'))

# Validar columnas de texto
print("\nConteo de valores únicos en columnas categóricas:")
print(generalprocessed_df[['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus']].value_counts())

# Validar datos de tiempo
print("\nConteo de valores en InfoDate:")
print(generalprocessed_df['InfoDate'].value_counts())

# Comparar con datos originales (seleccionando algunos registros aleatorios)
print("\nComparación de registros aleatorios:")
sample_original = general_df.sample(5)
sample_processed = generalprocessed_df[generalprocessed_df['EmployeeID'].isin(sample_original['EmployeeID'])]

print("\nMuestra de datos originales:")
print(sample_original)
print("\nMuestra de datos procesados:")
print(sample_processed)

Número único de EmployeeID: 5060
Número total de registros en generalprocessed_df: 5060

Datos nulos en generalprocessed_df:
EmployeeID                  0
Age                         0
DistanceFromHome            0
Education                   0
EmployeeCount               0
JobLevel                    0
MonthlyIncome               0
NumCompaniesWorked         23
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears          11
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
index                       0
BusinessTravel              0
Department                  0
EducationField              0
Gender                      0
InfoDate                    0
JobRole                     0
MaritalStatus               0
dtype: int64

Resumen estadístico de generalprocessed_df:
         EmployeeID          Age  DistanceFromHome    Education  \
count   5060.000000  5060.000000       5060.000000  5060.000000
unique          NaN          NaN               NaN          NaN
top             NaN          NaN               NaN          NaN
freq            NaN          NaN               NaN          NaN
mean    2799.119763    36.483992          9.182806     2.908498
std     1988.607199     9.271121          8.075644     1.021477
min        1.000000    18.000000          1.000000     1.000000
25%     1265.750000    30.000000          2.000000     2.000000
50%     2530.500000    35.000000          7.000000     3.000000
75%     3795.250000    42.000000         14.000000     4.000000
max     8813.000000    60.000000         29.000000     5.000000

        EmployeeCount     JobLevel  MonthlyIncome  NumCompaniesWorked  \
count          5060.0  5060.000000    5060.000000         5037.000000
unique            NaN          NaN            NaN                 NaN
top               NaN          NaN            NaN                 NaN
freq              NaN          NaN            NaN                 NaN
mean              1.0     2.061067   64551.051383            2.722652
std               0.0     1.100246   46761.523088            2.522950
min               1.0     1.000000   10090.000000            0.000000
25%               1.0     1.000000   28860.000000            1.000000
50%               1.0     2.000000   49080.000000            2.000000
75%               1.0     3.000000   81200.000000            4.000000
max               1.0     5.000000  199990.000000            9.000000

        PercentSalaryHike  StandardHours  ...  YearsSinceLastPromotion  \
count         5060.000000         5060.0  ...              5060.000000
unique                NaN            NaN  ...                      NaN
top                   NaN            NaN  ...                      NaN
freq                  NaN            NaN  ...                      NaN
mean            15.239130            8.0  ...                 2.160277
std              3.667292            0.0  ...                 3.212234
min             11.000000            8.0  ...                 0.000000
25%             12.000000            8.0  ...                 0.000000
50%             14.000000            8.0  ...                 1.000000
75%             18.000000            8.0  ...                 2.000000
max             25.000000            8.0  ...                15.000000

        YearsWithCurrManager        index  BusinessTravel  \
count            5060.000000  5060.000000            5060
unique                   NaN          NaN               3
top                      NaN          NaN   Travel_Rarely
freq                     NaN          NaN            3551
mean                3.962846  4383.453755             NaN
std                 3.543618  1685.073467             NaN
min                 0.000000     1.000000             NaN
25%                 1.000000  3121.750000             NaN
50%                 3.000000  4446.500000             NaN
75%                 7.000000  5710.250000             NaN
max                17.000000  8404.000000             NaN

                    Department  EducationField  Gender             InfoDate  \
count                     5060            5060    5060                 5060
unique                       3               6       2                    2
top     Research & Development   Life Sciences    Male  2015-12-31 00:00:00
freq                      3301            2090    3052                 4410
mean                       NaN             NaN     NaN                  NaN
std                        NaN             NaN     NaN                  NaN
min                        NaN             NaN     NaN                  NaN
25%                        NaN             NaN     NaN                  NaN
50%                        NaN             NaN     NaN                  NaN
75%                        NaN             NaN     NaN                  NaN
max                        NaN             NaN     NaN                  NaN

                JobRole MaritalStatus
count              5060          5060
unique                9             3
top     Sales Executive       Married
freq               1127          2249
mean                NaN           NaN
std                 NaN           NaN
min                 NaN           NaN
25%                 NaN           NaN
50%                 NaN           NaN
75%                 NaN           NaN
max                 NaN           NaN

[11 rows x 24 columns]

Conteo de valores únicos en columnas categóricas:
BusinessTravel     Department              EducationField    Gender  JobRole                    MaritalStatus
Travel_Rarely      Research & Development  Life Sciences     Male    Sales Executive            Married          78
                                                             Female  Sales Executive            Married          60
                                                             Male    Laboratory Technician      Married          59
                                                                     Sales Executive            Single           57
                                           Medical           Male    Sales Executive            Married          51
                                                                                                                 ..
Travel_Frequently  Sales                   Life Sciences     Male    Manager                    Divorced          3
                                                                     Laboratory Technician      Divorced          3
                                                                     Human Resources            Married           3
                                                                     Healthcare Representative  Married           3
Travel_Rarely      Sales                   Technical Degree  Male    Sales Representative       Married           3
Name: count, Length: 623, dtype: int64

Conteo de valores en InfoDate:
InfoDate
2015-12-31 00:00:00    4410
2016-12-31 00:00:00     650
Name: count, dtype: int64

Comparación de registros aleatorios:

Muestra de datos originales:
      index  Age BusinessTravel              Department  DistanceFromHome  \
2667   2667   40  Travel_Rarely                   Sales                10
869     869   23  Travel_Rarely  Research & Development                 7
2623   2623   25  Travel_Rarely                   Sales                20
1963   1963   50     Non-Travel         Human Resources                 2
5515   5515   33  Travel_Rarely                   Sales                 1

      Education EducationField  EmployeeCount  EmployeeID  Gender  ...  \
2667          4  Life Sciences              1        2668    Male  ...
869           2  Life Sciences              1         870  Female  ...
2623          5        Medical              1        2624  Female  ...
1963          2  Life Sciences              1        1964    Male  ...
5515          3  Life Sciences              1        1106  Female  ...

      NumCompaniesWorked PercentSalaryHike StandardHours  StockOptionLevel  \
2667                 2.0                11             8                 1
869                  2.0                11             8                 0
2623                 4.0                12             8                 0
1963                 0.0                11             8                 0
5515                 1.0                13             8                 1

      TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
2667                8.0                      6               2
869                 4.0                      2               2
2623                6.0                      2               2
1963               19.0                      3              18
5515               10.0                      3              10

      YearsSinceLastPromotion  YearsWithCurrManager             InfoDate
2667                        2                     2  2015-12-31 00:00:00
869                         2                     2  2015-12-31 00:00:00
2623                        1                     2  2015-12-31 00:00:00
1963                        0                    13  2015-12-31 00:00:00
5515                        0                     9  2016-12-31 00:00:00

[5 rows x 24 columns]

Muestra de datos procesados:
      EmployeeID   Age  DistanceFromHome  Education  EmployeeCount  JobLevel  \
869          870  23.0               7.0        2.0            1.0       3.0
1105        1106  33.0               1.0        3.0            1.0       5.0
1963        1964  50.0               2.0        2.0            1.0       1.0
2623        2624  25.0              20.0        5.0            1.0       2.0
2667        2668  40.0              10.0        4.0            1.0       1.0

      MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  StandardHours  \
869        105520.0                 2.0               11.0            8.0
1105        12230.0                 1.0               13.0            8.0
1963        36880.0                 0.0               11.0            8.0
2623        85000.0                 4.0               12.0            8.0
2667        93620.0                 2.0               11.0            8.0

      ...  YearsSinceLastPromotion  YearsWithCurrManager   index  \
869   ...                      2.0                   2.0  3074.0
1105  ...                      0.0                   9.0  3310.0
1963  ...                      0.0                  13.0  4168.0
2623  ...                      1.0                   2.0  4828.0
2667  ...                      2.0                   2.0  4872.0

      BusinessTravel              Department  EducationField  Gender  \
869    Travel_Rarely  Research & Development   Life Sciences  Female
1105   Travel_Rarely                   Sales   Life Sciences  Female
1963      Non-Travel         Human Resources   Life Sciences    Male
2623   Travel_Rarely                   Sales         Medical  Female
2667   Travel_Rarely                   Sales   Life Sciences    Male

                 InfoDate                JobRole MaritalStatus
869   2015-12-31 00:00:00                Manager       Married
1105  2015-12-31 00:00:00        Sales Executive        Single
1963  2015-12-31 00:00:00  Laboratory Technician       Married
2623  2015-12-31 00:00:00  Laboratory Technician       Married
2667  2015-12-31 00:00:00     Research Scientist        Single

[5 rows x 24 columns]

In [121]:
from sklearn.impute import SimpleImputer

# Imputar valores nulos con la media
generalprocessed_df['NumCompaniesWorked'].fillna(generalprocessed_df['NumCompaniesWorked'].mean(), inplace=True)
generalprocessed_df['TotalWorkingYears'].fillna(generalprocessed_df['TotalWorkingYears'].mean(), inplace=True)

# Verificar si aún hay valores nulos
print("Datos nulos después de imputar:")
print(generalprocessed_df.isnull().sum())

Datos nulos después de imputar:
EmployeeID                 0
Age                        0
DistanceFromHome           0
Education                  0
EmployeeCount              0
JobLevel                   0
MonthlyIncome              0
NumCompaniesWorked         0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
index                      0
BusinessTravel             0
Department                 0
EducationField             0
Gender                     0
InfoDate                   0
JobRole                    0
MaritalStatus              0
dtype: int64

<ipython-input-121-a01f3461165b>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  generalprocessed_df['NumCompaniesWorked'].fillna(generalprocessed_df['NumCompaniesWorked'].mean(), inplace=True)
<ipython-input-121-a01f3461165b>:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  generalprocessed_df['TotalWorkingYears'].fillna(generalprocessed_df['TotalWorkingYears'].mean(), inplace=True)

In [122]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# 1. Eliminar columnas no necesarias
columns_to_drop = ['EmployeeCount', 'StockOptionLevel', 'StandardHours']
generalprocessed_df = generalprocessed_df.drop(columns=columns_to_drop)

# 2. Estandarización de variables numéricas
numerical_columns = [
    'Age', 'DistanceFromHome', 'MonthlyIncome', 'NumCompaniesWorked',
    'PercentSalaryHike', 'TotalWorkingYears',
    'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
    'YearsWithCurrManager'
]

# Inicializar el estandarizador
scaler = StandardScaler()

# Aplicar estandarización
generalprocessed_df[numerical_columns] = scaler.fit_transform(generalprocessed_df[numerical_columns])

# 3. Codificación de variables categóricas ordinales
ordinal_columns = {
    'Education': [1, 2, 3, 4, 5],
    'JobLevel': [1, 2, 3, 4, 5]
}

# Reemplazar categorías ordinales con valores numéricos
for col, order in ordinal_columns.items():
    generalprocessed_df[col] = pd.Categorical(generalprocessed_df[col], categories=order, ordered=True).codes

# 4. Codificación de variables categóricas no ordinales (One-Hot Encoding)
categorical_columns = [
    'BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus'
]

# Crear el codificador OneHotEncoder
one_hot_encoder = OneHotEncoder(sparse=False, drop='first')

# Aplicar el codificador a las columnas categóricas
one_hot_encoded = one_hot_encoder.fit_transform(generalprocessed_df[categorical_columns])

# Crear un DataFrame con las columnas codificadas
one_hot_df = pd.DataFrame(one_hot_encoded, columns=one_hot_encoder.get_feature_names_out(categorical_columns))

# Unir el DataFrame original con el DataFrame codificado
generalprocessed = pd.concat([generalprocessed_df.drop(categorical_columns, axis=1), one_hot_df], axis=1)

# Verificar el DataFrame final
print(generalprocessed.head())

   EmployeeID       Age  DistanceFromHome  Education  JobLevel  MonthlyIncome  \
0           1  1.565878         -0.394163          1         0       1.424580
1           2 -0.591572          0.101202          0         0      -0.484657
2           3 -0.483699          0.968092          3         3       2.753154
3           4  0.163536         -0.889529          4         2       0.399063
4           5 -0.483699          0.101202          0         0      -0.879679

   NumCompaniesWorked  PercentSalaryHike  TotalWorkingYears  \
0           -0.684418          -1.156044          -1.273857
1           -1.081723           2.116449          -0.629850
2           -0.684418          -0.065213          -0.758651
3            0.110192          -1.156044           0.271761
4            0.507496          -0.883336          -0.243445

   TrainingTimesLastYear  ...  JobRole_Human Resources  \
0               2.529894  ...                      0.0
1               0.171953  ...                      0.0
2              -0.614028  ...                      0.0
3               1.743913  ...                      1.0
4              -0.614028  ...                      0.0

   JobRole_Laboratory Technician  JobRole_Manager  \
0                            0.0              0.0
1                            0.0              0.0
2                            0.0              0.0
3                            0.0              0.0
4                            0.0              0.0

   JobRole_Manufacturing Director JobRole_Research Director  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             0.0                       0.0
4                             0.0                       0.0

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                         0.0                      0.0
1                         1.0                      0.0
2                         0.0                      1.0
3                         0.0                      0.0
4                         0.0                      1.0

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single
0                           0.0                    1.0                   0.0
1                           0.0                    0.0                   1.0
2                           0.0                    1.0                   0.0
3                           0.0                    1.0                   0.0
4                           0.0                    0.0                   1.0

[5 rows x 35 columns]

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [123]:
# Mostrar las primeras 10 filas del DataFrame 'generalprocessed'
print("Primeros 10 registros del DataFrame 'generalprocessed':")
print(generalprocessed.head(10))

# Mostrar información sobre el DataFrame
print("\nInformación del DataFrame 'generalprocessed':")
print(generalprocessed.info())

# Mostrar un resumen estadístico del DataFrame
print("\nResumen estadístico del DataFrame 'generalprocessed':")
print(generalprocessed.describe(include='all'))

Primeros 10 registros del DataFrame 'generalprocessed':
   EmployeeID       Age  DistanceFromHome  Education  JobLevel  MonthlyIncome  \
0           1  1.565878         -0.394163          1         0       1.424580
1           2 -0.591572          0.101202          0         0      -0.484657
2           3 -0.483699          0.968092          3         3       2.753154
3           4  0.163536         -0.889529          4         2       0.399063
4           5 -0.483699          0.101202          0         0      -0.879679
5           6  1.026515         -0.146480          2         3      -0.509894
6           7 -0.915189          0.225044          1         1      -0.137328
7           8 -0.807317          1.091933          2         1      -0.708367
8           9 -0.591572         -1.013370          2         2      -0.943413
9          10 -1.238807         -0.270322          3         3       1.499008

   NumCompaniesWorked  PercentSalaryHike  TotalWorkingYears  \
0           -0.684418          -1.156044          -1.273857
1           -1.081723           2.116449          -0.629850
2           -0.684418          -0.065213          -0.758651
3            0.110192          -1.156044           0.271761
4            0.507496          -0.883336          -0.243445
5            0.110192          -0.610628           2.203784
6           -0.287113           1.298326          -0.758651
7           -0.287113           1.843741          -0.114643
8           -1.081723           1.571034          -0.114643
9           -0.684418          -0.610628          -0.629850

   TrainingTimesLastYear  ...  JobRole_Human Resources  \
0               2.529894  ...                      0.0
1               0.171953  ...                      0.0
2              -0.614028  ...                      0.0
3               1.743913  ...                      1.0
4              -0.614028  ...                      0.0
5               1.743913  ...                      0.0
6              -0.614028  ...                      0.0
7              -0.614028  ...                      0.0
8              -0.614028  ...                      0.0
9              -0.614028  ...                      0.0

   JobRole_Laboratory Technician  JobRole_Manager  \
0                            0.0              0.0
1                            0.0              0.0
2                            0.0              0.0
3                            0.0              0.0
4                            0.0              0.0
5                            0.0              0.0
6                            0.0              0.0
7                            0.0              0.0
8                            1.0              0.0
9                            1.0              0.0

   JobRole_Manufacturing Director JobRole_Research Director  \
0                             0.0                       0.0
1                             0.0                       0.0
2                             0.0                       0.0
3                             0.0                       0.0
4                             0.0                       0.0
5                             0.0                       1.0
6                             0.0                       0.0
7                             0.0                       0.0
8                             0.0                       0.0
9                             0.0                       0.0

   JobRole_Research Scientist  JobRole_Sales Executive  \
0                         0.0                      0.0
1                         1.0                      0.0
2                         0.0                      1.0
3                         0.0                      0.0
4                         0.0                      1.0
5                         0.0                      0.0
6                         0.0                      1.0
7                         0.0                      1.0
8                         0.0                      0.0
9                         0.0                      0.0

   JobRole_Sales Representative  MaritalStatus_Married  MaritalStatus_Single
0                           0.0                    1.0                   0.0
1                           0.0                    0.0                   1.0
2                           0.0                    1.0                   0.0
3                           0.0                    1.0                   0.0
4                           0.0                    0.0                   1.0
5                           0.0                    1.0                   0.0
6                           0.0                    0.0                   1.0
7                           0.0                    1.0                   0.0
8                           0.0                    1.0                   0.0
9                           0.0                    0.0                   0.0

[10 rows x 35 columns]

Información del DataFrame 'generalprocessed':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5060 entries, 0 to 5059
Data columns (total 35 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   EmployeeID                         5060 non-null   int64
 1   Age                                5060 non-null   float64
 2   DistanceFromHome                   5060 non-null   float64
 3   Education                          5060 non-null   int8
 4   JobLevel                           5060 non-null   int8
 5   MonthlyIncome                      5060 non-null   float64
 6   NumCompaniesWorked                 5060 non-null   float64
 7   PercentSalaryHike                  5060 non-null   float64
 8   TotalWorkingYears                  5060 non-null   float64
 9   TrainingTimesLastYear              5060 non-null   float64
 10  YearsAtCompany                     5060 non-null   float64
 11  YearsSinceLastPromotion            5060 non-null   float64
 12  YearsWithCurrManager               5060 non-null   float64
 13  index                              5060 non-null   float64
 14  InfoDate                           5060 non-null   object
 15  BusinessTravel_Travel_Frequently   5060 non-null   float64
 16  BusinessTravel_Travel_Rarely       5060 non-null   float64
 17  Department_Research & Development  5060 non-null   float64
 18  Department_Sales                   5060 non-null   float64
 19  EducationField_Life Sciences       5060 non-null   float64
 20  EducationField_Marketing           5060 non-null   float64
 21  EducationField_Medical             5060 non-null   float64
 22  EducationField_Other               5060 non-null   float64
 23  EducationField_Technical Degree    5060 non-null   float64
 24  Gender_Male                        5060 non-null   float64
 25  JobRole_Human Resources            5060 non-null   float64
 26  JobRole_Laboratory Technician      5060 non-null   float64
 27  JobRole_Manager                    5060 non-null   float64
 28  JobRole_Manufacturing Director     5060 non-null   float64
 29  JobRole_Research Director          5060 non-null   float64
 30  JobRole_Research Scientist         5060 non-null   float64
 31  JobRole_Sales Executive            5060 non-null   float64
 32  JobRole_Sales Representative       5060 non-null   float64
 33  MaritalStatus_Married              5060 non-null   float64
 34  MaritalStatus_Single               5060 non-null   float64
dtypes: float64(31), int64(1), int8(2), object(1)
memory usage: 1.3+ MB
None

Resumen estadístico del DataFrame 'generalprocessed':
         EmployeeID           Age  DistanceFromHome    Education     JobLevel  \
count   5060.000000  5.060000e+03      5.060000e+03  5060.000000  5060.000000
unique          NaN           NaN               NaN          NaN          NaN
top             NaN           NaN               NaN          NaN          NaN
freq            NaN           NaN               NaN          NaN          NaN
mean    2799.119763 -2.302945e-16      2.246775e-17     1.908498     1.061067
std     1988.607199  1.000099e+00      1.000099e+00     1.021477     1.100246
min        1.000000 -1.993914e+00     -1.013370e+00     0.000000     0.000000
25%     1265.750000 -6.994443e-01     -8.895285e-01     1.000000     0.000000
50%     2530.500000 -1.600819e-01     -2.703217e-01     2.000000     1.000000
75%     3795.250000  5.950255e-01      5.965678e-01     3.000000     2.000000
max     8813.000000  2.536730e+00      2.454188e+00     4.000000     4.000000

        MonthlyIncome  NumCompaniesWorked  PercentSalaryHike  \
count    5.060000e+03        5.060000e+03       5.060000e+03
unique            NaN                 NaN                NaN
top               NaN                 NaN                NaN
freq              NaN                 NaN                NaN
mean     5.055245e-17        7.512655e-17      -1.572743e-16
std      1.000099e+00        1.000099e+00       1.000099e+00
min     -1.164770e+00       -1.081723e+00      -1.156044e+00
25%     -7.633323e-01       -6.844178e-01      -8.833358e-01
50%     -3.308827e-01       -2.871132e-01      -3.379204e-01
75%      3.560747e-01        5.074962e-01       7.529104e-01
max      2.896662e+00        2.494020e+00       2.661864e+00

        TotalWorkingYears  TrainingTimesLastYear  ...  \
count        5.060000e+03           5.060000e+03  ...
unique                NaN                    NaN  ...
top                   NaN                    NaN  ...
freq                  NaN                    NaN  ...
mean         2.246775e-17          -8.425408e-18  ...
std          1.000099e+00           1.000099e+00  ...
min         -1.402659e+00          -2.185988e+00  ...
25%         -6.298495e-01          -6.140277e-01  ...
50%         -2.434449e-01           1.719526e-01  ...
75%          5.293644e-01           1.719526e-01  ...
max          3.749403e+00           2.529894e+00  ...

        JobRole_Human Resources  JobRole_Laboratory Technician  \
count               5060.000000                    5060.000000
unique                      NaN                            NaN
top                         NaN                            NaN
freq                        NaN                            NaN
mean                   0.034980                       0.176482
std                    0.183748                       0.381268
min                    0.000000                       0.000000
25%                    0.000000                       0.000000
50%                    0.000000                       0.000000
75%                    0.000000                       0.000000
max                    1.000000                       1.000000

        JobRole_Manager  JobRole_Manufacturing Director  \
count       5060.000000                     5060.000000
unique              NaN                             NaN
top                 NaN                             NaN
freq                NaN                             NaN
mean           0.067787                        0.095059
std            0.251404                        0.293326
min            0.000000                        0.000000
25%            0.000000                        0.000000
50%            0.000000                        0.000000
75%            0.000000                        0.000000
max            1.000000                        1.000000

       JobRole_Research Director  JobRole_Research Scientist  \
count                5060.000000                 5060.000000
unique                       NaN                         NaN
top                          NaN                         NaN
freq                         NaN                         NaN
mean                    0.057312                    0.202372
std                     0.232461                    0.401807
min                     0.000000                    0.000000
25%                     0.000000                    0.000000
50%                     0.000000                    0.000000
75%                     0.000000                    0.000000
max                     1.000000                    1.000000

        JobRole_Sales Executive  JobRole_Sales Representative  \
count               5060.000000                   5060.000000
unique                      NaN                           NaN
top                         NaN                           NaN
freq                        NaN                           NaN
mean                   0.222727                      0.055534
std                    0.416118                      0.229041
min                    0.000000                      0.000000
25%                    0.000000                      0.000000
50%                    0.000000                      0.000000
75%                    0.000000                      0.000000
max                    1.000000                      1.000000

        MaritalStatus_Married  MaritalStatus_Single
count             5060.000000           5060.000000
unique                    NaN                   NaN
top                       NaN                   NaN
freq                      NaN                   NaN
mean                 0.444466              0.343281
std                  0.496956              0.474851
min                  0.000000              0.000000
25%                  0.000000              0.000000
50%                  0.000000              0.000000
75%                  1.000000              1.000000
max                  1.000000              1.000000

[11 rows x 35 columns]

In [124]:
# Leer todos los datos de la tabla 'employee'
query = "SELECT * FROM employee"
df_employee = pd.read_sql_query(query, conn)

# Mostrar información sobre el DataFrame actualizado
print("\nInformación del DataFrame 'df_employee':")
print(df_employee.info())

# Mostrar un resumen estadístico del DataFrame actualizado
print("\nResumen estadístico del DataFrame 'df_employee':")
print(df_employee.describe(include='all'))

Información del DataFrame 'df_employee':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   index                    8820 non-null   int64
 1   EmployeeID               8820 non-null   int64
 2   EnvironmentSatisfaction  8770 non-null   float64
 3   JobSatisfaction          8780 non-null   float64
 4   WorkLifeBalance          8744 non-null   float64
 5   DateSurvey               8820 non-null   object
dtypes: float64(3), int64(2), object(1)
memory usage: 413.6+ KB
None

Resumen estadístico del DataFrame 'df_employee':
              index   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  \
count   8820.000000  8820.000000              8770.000000      8780.000000
unique          NaN          NaN                      NaN              NaN
top             NaN          NaN                      NaN              NaN
freq            NaN          NaN                      NaN              NaN
mean    4409.500000  2591.500000                 2.723603         2.728246
std     2546.259021  1812.892315                 1.092694         1.101190
min        0.000000     1.000000                 1.000000         1.000000
25%     2204.750000  1200.750000                 2.000000         2.000000
50%     4409.500000  2401.000000                 3.000000         3.000000
75%     6614.250000  3601.000000                 4.000000         4.000000
max     8819.000000  8813.000000                 4.000000         4.000000

        WorkLifeBalance           DateSurvey
count       8744.000000                 8820
unique              NaN                    2
top                 NaN  2015-12-31 00:00:00
freq                NaN                 4410
mean           2.761436                  NaN
std            0.706205                  NaN
min            1.000000                  NaN
25%            2.000000                  NaN
50%            3.000000                  NaN
75%            3.000000                  NaN
max            4.000000                  NaN

In [125]:
# Crear una copia del DataFrame original
df_employee_processed = df_employee.copy()

# Agrupar por EmployeeID y calcular el promedio de las columnas numéricas
numeric_cols = df_employee_processed.select_dtypes(include='number').columns

# Excluir 'EmployeeID' de las columnas numéricas para evitar conflictos
numeric_cols = numeric_cols.difference(['EmployeeID'])
avg_data = df_employee_processed.groupby('EmployeeID')[numeric_cols].mean().reset_index()

# Mantener la información no numérica utilizando la moda
categorical_cols = df_employee_processed.select_dtypes(include='object').columns

# Excluir 'EmployeeID' de las columnas categóricas
categorical_cols = categorical_cols.difference(['EmployeeID'])
mode_data = df_employee_processed.groupby('EmployeeID')[categorical_cols].agg(
    lambda x: x.mode()[0] if not x.mode().empty else 'Unknown'
).reset_index()

# Unir los datos promediados con los datos categóricos
df_employee_processed = avg_data.merge(mode_data, on='EmployeeID')

# Imprimir las primeras filas del nuevo DataFrame
print(df_employee_processed.head())

# Mostrar información general del nuevo DataFrame
print(df_employee_processed.info())

   EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance  \
0           1                      3.0              4.0              2.0
1           2                      3.0              2.0              4.0
2           3                      2.0              2.0              1.0
3           4                      4.0              4.0              3.0
4           5                      4.0              1.0              3.0

    index           DateSurvey
0  2205.0  2015-12-31 00:00:00
1     1.0  2015-12-31 00:00:00
2  2207.0  2015-12-31 00:00:00
3  2208.0  2015-12-31 00:00:00
4  2209.0  2015-12-31 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5060 entries, 0 to 5059
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   EmployeeID               5060 non-null   int64
 1   EnvironmentSatisfaction  5030 non-null   float64
 2   JobSatisfaction          5039 non-null   float64
 3   WorkLifeBalance          5018 non-null   float64
 4   index                    5060 non-null   float64
 5   DateSurvey               5060 non-null   object
dtypes: float64(4), int64(1), object(1)
memory usage: 237.3+ KB
None

In [126]:
# Calcular la media de cada columna numérica
mean_values = df_employee_processed[['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']].mean()

# Reemplazar los valores nulos con la media correspondiente
df_employee_processed[['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']] = df_employee_processed[['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']].fillna(mean_values)

# Verificar que ya no hay valores nulos en estas columnas
print("\nDatos nulos después de la imputación:")
print(df_employee_processed[['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']].isnull().sum())

Datos nulos después de la imputación:
EnvironmentSatisfaction    0
JobSatisfaction            0
WorkLifeBalance            0
dtype: int64

In [127]:
from sklearn.preprocessing import OrdinalEncoder
import pandas as pd

# Mantener las columnas que no se deben modificar
df_model = df_employee_processed[['EmployeeID', 'DateSurvey']].copy()

# Definir las columnas categóricas ordinales
ordinal_cols = ['EnvironmentSatisfaction', 'JobSatisfaction', 'WorkLifeBalance']

# Convertir las columnas ordinales a números (si no lo están ya)
df_employee_processed[ordinal_cols] = df_employee_processed[ordinal_cols].apply(pd.to_numeric, errors='coerce')

# Redondear los valores en las columnas ordinales para asegurarse de que estén en el rango de 1 a 5
df_employee_processed[ordinal_cols] = df_employee_processed[ordinal_cols].round().astype(int)

# Verificar los valores únicos en cada columna ordinal
for col in ordinal_cols:
    unique_values = df_employee_processed[col].dropna().unique()
    print(f"Unique values in {col}: {unique_values}")

# Instanciar el codificador OrdinalEncoder, con categorías de 1 a 5
categories = [list(range(1, 6))] * len(ordinal_cols)
ordinal_encoder = OrdinalEncoder(categories=categories)

# Aplicar OrdinalEncoder a las columnas categóricas ordinales
encoded_ordinal_data = ordinal_encoder.fit_transform(df_employee_processed[ordinal_cols])

# Crear un DataFrame con las columnas codificadas ordinalmente
encoded_ordinal_df = pd.DataFrame(encoded_ordinal_data, columns=ordinal_cols)

# Asegurarse de que los valores sigan siendo enteros de 1 a 5
encoded_ordinal_df = encoded_ordinal_df.astype(int)

# Eliminar las columnas originales que serán reemplazadas
df_employee_processed = df_employee_processed.drop(columns=ordinal_cols)

# Añadir las columnas codificadas al DataFrame original
df_employee_processed = pd.concat([df_model, encoded_ordinal_df], axis=1)

# Mostrar el DataFrame final
print(df_employee_processed.head())

Unique values in EnvironmentSatisfaction: [3 2 4 1]
Unique values in JobSatisfaction: [4 2 1 3]
Unique values in WorkLifeBalance: [2 4 1 3]
   EmployeeID           DateSurvey  EnvironmentSatisfaction  JobSatisfaction  \
0           1  2015-12-31 00:00:00                        2                3
1           2  2015-12-31 00:00:00                        2                1
2           3  2015-12-31 00:00:00                        1                1
3           4  2015-12-31 00:00:00                        3                3
4           5  2015-12-31 00:00:00                        3                0

   WorkLifeBalance
0                1
1                3
2                0
3                2
4                2

In [128]:
# Leer todos los datos de la tabla 'manager'
query = "SELECT * FROM manager"
df_manager = pd.read_sql_query(query, conn)

# Mostrar información sobre el DataFrame actualizado
print("\nInformación del DataFrame 'df_manager':")
print(df_manager.info())

# Mostrar un resumen estadístico del DataFrame actualizado
print("\nResumen estadístico del DataFrame 'df_manager':")
print(df_manager.describe(include='all'))

Información del DataFrame 'df_manager':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8820 entries, 0 to 8819
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              8820 non-null   int64
 1   EmployeeID         8820 non-null   int64
 2   JobInvolvement     8820 non-null   int64
 3   PerformanceRating  8820 non-null   int64
 4   SurveyDate         8820 non-null   object
dtypes: int64(4), object(1)
memory usage: 344.7+ KB
None

Resumen estadístico del DataFrame 'df_manager':
              index   EmployeeID  JobInvolvement  PerformanceRating  \
count   8820.000000  8820.000000     8820.000000        8820.000000
unique          NaN          NaN             NaN                NaN
top             NaN          NaN             NaN                NaN
freq            NaN          NaN             NaN                NaN
mean    4409.500000  2591.500000        2.729932           3.153741
std     2546.259021  1812.892315        0.711359           0.360721
min        0.000000     1.000000        1.000000           3.000000
25%     2204.750000  1200.750000        2.000000           3.000000
50%     4409.500000  2401.000000        3.000000           3.000000
75%     6614.250000  3601.000000        3.000000           3.000000
max     8819.000000  8813.000000        4.000000           4.000000

                 SurveyDate
count                  8820
unique                    2
top     2015-12-31 00:00:00
freq                   4410
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN

In [129]:
df_manager_processed = df_manager.copy()

# Agrupar por EmployeeID y calcular el promedio de las columnas numéricas
numeric_cols = df_manager_processed.select_dtypes(include='number').columns

# Excluir 'EmployeeID' de las columnas numéricas para evitar conflictos
numeric_cols = numeric_cols.difference(['EmployeeID'])
avg_data = df_manager_processed.groupby('EmployeeID')[numeric_cols].mean().reset_index()

# Mantener la información no numérica utilizando la moda
categorical_cols = df_manager_processed.select_dtypes(include='object').columns

# Excluir 'EmployeeID' de las columnas categóricas
categorical_cols = categorical_cols.difference(['EmployeeID'])
mode_data = df_manager_processed.groupby('EmployeeID')[categorical_cols].agg(lambda x: x.mode()[0] if not x.mode().empty else 'Unknown').reset_index()

# Unir los datos promediados con los datos categóricos
df_manager_processed = avg_data.merge(mode_data, on='EmployeeID')

# Imprimir las primeras filas del nuevo DataFrame
print(df_manager_processed.head())

# Mostrar información general del nuevo DataFrame
print(df_manager_processed.info())

   EmployeeID  JobInvolvement  PerformanceRating   index           SurveyDate
0           1             3.0                3.0  2205.0  2015-12-31 00:00:00
1           2             2.0                4.0     1.0  2015-12-31 00:00:00
2           3             3.0                3.0  2207.0  2015-12-31 00:00:00
3           4             2.0                3.0  2208.0  2015-12-31 00:00:00
4           5             3.0                3.0  2209.0  2015-12-31 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5060 entries, 0 to 5059
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         5060 non-null   int64
 1   JobInvolvement     5060 non-null   float64
 2   PerformanceRating  5060 non-null   float64
 3   index              5060 non-null   float64
 4   SurveyDate         5060 non-null   object
dtypes: float64(3), int64(1), object(1)
memory usage: 197.8+ KB
None

In [130]:
# Mantener las columnas que no se deben modificar
df_model_manager = df_manager_processed[['EmployeeID', 'SurveyDate']].copy()

# Revisar los valores únicos en las columnas ordinales
print("Valores únicos en 'JobInvolvement':", df_manager_processed['JobInvolvement'].unique())
print("Valores únicos en 'PerformanceRating':", df_manager_processed['PerformanceRating'].unique())

# Reemplazar valores nulos por la media o mediana si es necesario
df_manager_processed['JobInvolvement'].fillna(df_manager_processed['JobInvolvement'].median(), inplace=True)
df_manager_processed['PerformanceRating'].fillna(df_manager_processed['PerformanceRating'].median(), inplace=True)

# Asegurarse de que los valores estén en el rango de 1 a 5
df_manager_processed['JobInvolvement'] = df_manager_processed['JobInvolvement'].clip(lower=1, upper=5)
df_manager_processed['PerformanceRating'] = df_manager_processed['PerformanceRating'].clip(lower=1, upper=5)

# Definir las columnas categóricas ordinales
ordinal_cols_manager = ['JobInvolvement', 'PerformanceRating']

# Instanciar el codificador OrdinalEncoder, con categorías de 1 a 5
ordinal_encoder_manager = OrdinalEncoder(categories=[range(1, 6), range(1, 6)])

# Aplicar OrdinalEncoder a las columnas categóricas ordinales
encoded_ordinal_data_manager = ordinal_encoder_manager.fit_transform(df_manager_processed[ordinal_cols_manager])

# Crear un DataFrame con las columnas codificadas ordinalmente
encoded_ordinal_df_manager = pd.DataFrame(encoded_ordinal_data_manager, columns=ordinal_cols_manager)

# Asegurarse de que los valores sigan siendo enteros de 1 a 5
encoded_ordinal_df_manager = encoded_ordinal_df_manager.astype(int)

# Mantener las columnas que no se deben modificar
df_model_manager = df_manager_processed[['EmployeeID', 'SurveyDate']].copy()

# Añadir las columnas codificadas al DataFrame original
df_model_manager = pd.concat([df_model_manager, encoded_ordinal_df_manager], axis=1)

# Guardar el DataFrame final en df_manager_processed
df_manager_processed = df_model_manager

# Mostrar el DataFrame final
print(df_manager_processed.head())

Valores únicos en 'JobInvolvement': [3. 2. 1. 4.]
Valores únicos en 'PerformanceRating': [3. 4.]
   EmployeeID           SurveyDate  JobInvolvement  PerformanceRating
0           1  2015-12-31 00:00:00               2                  2
1           2  2015-12-31 00:00:00               1                  3
2           3  2015-12-31 00:00:00               2                  2
3           4  2015-12-31 00:00:00               1                  2
4           5  2015-12-31 00:00:00               2                  2

<ipython-input-130-bab8b1b90fe0>:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_manager_processed['JobInvolvement'].fillna(df_manager_processed['JobInvolvement'].median(), inplace=True)
<ipython-input-130-bab8b1b90fe0>:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_manager_processed['PerformanceRating'].fillna(df_manager_processed['PerformanceRating'].median(), inplace=True)

In [131]:
# Información general del DataFrame 'df_manager_processed'
print("\nInformación del DataFrame 'df_manager_processed':")
print(df_manager_processed.info())

# Resumen estadístico del DataFrame 'df_manager_processed'
print("\nResumen estadístico del DataFrame 'df_manager_processed':")
print(df_manager_processed.describe(include='all'))

# Imprimir las primeras 10 filas del DataFrame 'df_manager_processed'
print("\nPrimeras 10 filas del DataFrame 'df_manager_processed':")
print(df_manager_processed.head(10))

# Conteo de valores únicos en cada columna
print("\nConteo de valores únicos en cada columna:")
for col in df_manager_processed.columns:
    print(f"{col}:")
    print(df_manager_processed[col].value_counts())
    print()

Información del DataFrame 'df_manager_processed':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5060 entries, 0 to 5059
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EmployeeID         5060 non-null   int64
 1   SurveyDate         5060 non-null   object
 2   JobInvolvement     5060 non-null   int64
 3   PerformanceRating  5060 non-null   int64
dtypes: int64(3), object(1)
memory usage: 158.2+ KB
None

Resumen estadístico del DataFrame 'df_manager_processed':
         EmployeeID           SurveyDate  JobInvolvement  PerformanceRating
count   5060.000000                 5060     5060.000000        5060.000000
unique          NaN                    2             NaN                NaN
top             NaN  2015-12-31 00:00:00             NaN                NaN
freq            NaN                 4410             NaN                NaN
mean    2799.119763                  NaN        1.726087           2.155336
std     1988.607199                  NaN        0.719144           0.362260
min        1.000000                  NaN        0.000000           2.000000
25%     1265.750000                  NaN        1.000000           2.000000
50%     2530.500000                  NaN        2.000000           2.000000
75%     3795.250000                  NaN        2.000000           2.000000
max     8813.000000                  NaN        3.000000           3.000000

Primeras 10 filas del DataFrame 'df_manager_processed':
   EmployeeID           SurveyDate  JobInvolvement  PerformanceRating
0           1  2015-12-31 00:00:00               2                  2
1           2  2015-12-31 00:00:00               1                  3
2           3  2015-12-31 00:00:00               2                  2
3           4  2015-12-31 00:00:00               1                  2
4           5  2015-12-31 00:00:00               2                  2
5           6  2015-12-31 00:00:00               2                  2
6           7  2015-12-31 00:00:00               2                  3
7           8  2015-12-31 00:00:00               2                  3
8           9  2015-12-31 00:00:00               2                  3
9          10  2015-12-31 00:00:00               2                  2

Conteo de valores únicos en cada columna:
EmployeeID:
EmployeeID
1       1
3372    1
3379    1
3378    1
3377    1
       ..
1686    1
1685    1
1684    1
1683    1
8813    1
Name: count, Length: 5060, dtype: int64

SurveyDate:
SurveyDate
2015-12-31 00:00:00    4410
2016-12-31 00:00:00     650
Name: count, dtype: int64

JobInvolvement:
JobInvolvement
2    2964
1    1291
3     505
0     300
Name: count, dtype: int64

PerformanceRating:
PerformanceRating
2    4274
3     786
Name: count, dtype: int64

In [132]:
import sqlite3

# Conectar a la nueva base de datos
conn = sqlite3.connect('baseparamodelo.db')

# Guardar DataFrames en la base de datos
df_manager_processed.to_sql('manager_processed', conn, if_exists='replace', index=False)
df_employee_processed.to_sql('employee_processed', conn, if_exists='replace', index=False)
generalprocessed.to_sql('general_processed', conn, if_exists='replace', index=False)
retiros_processed_df.to_sql('retiros_processed', conn, if_exists='replace', index=False)

# Cerrar la conexión
conn.close()

In [133]:
import sqlite3
import pandas as pd

# Conectar a la base de datos
conn = sqlite3.connect('baseparamodelo.db')

# Obtener el listado de tablas en la base de datos
tables_query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql(tables_query, conn)

# Crear un diccionario para almacenar el resumen
summary = {}

# Para cada tabla, obtener el número de registros y mostrar un resumen de las columnas
for table in tables['name']:
    # Contar el número de registros en cada tabla
    count_query = f"SELECT COUNT(*) as count FROM {table};"
    count = pd.read_sql(count_query, conn).iloc[0]['count']

    # Obtener el resumen de las columnas
    columns_query = f"PRAGMA table_info({table});"
    columns_info = pd.read_sql(columns_query, conn)

    # Almacenar el resumen
    summary[table] = {
        'num_records': count,
        'columns': columns_info[['name', 'type']].to_dict('records')
    }

# Cerrar la conexión
conn.close()

# Mostrar el resumen
for table, info in summary.items():
    print(f"Tabla: {table}")
    print(f"Número de registros: {info['num_records']}")
    print("Columnas:")
    for column in info['columns']:
        print(f" - {column['name']} ({column['type']})")
    print("\n")

Tabla: manager_processed
Número de registros: 5060
Columnas:
 - EmployeeID (INTEGER)
 - SurveyDate (TEXT)
 - JobInvolvement (INTEGER)
 - PerformanceRating (INTEGER)


Tabla: employee_processed
Número de registros: 5060
Columnas:
 - EmployeeID (INTEGER)
 - DateSurvey (TEXT)
 - EnvironmentSatisfaction (INTEGER)
 - JobSatisfaction (INTEGER)
 - WorkLifeBalance (INTEGER)


Tabla: general_processed
Número de registros: 5060
Columnas:
 - EmployeeID (INTEGER)
 - Age (REAL)
 - DistanceFromHome (REAL)
 - Education (INTEGER)
 - JobLevel (INTEGER)
 - MonthlyIncome (REAL)
 - NumCompaniesWorked (REAL)
 - PercentSalaryHike (REAL)
 - TotalWorkingYears (REAL)
 - TrainingTimesLastYear (REAL)
 - YearsAtCompany (REAL)
 - YearsSinceLastPromotion (REAL)
 - YearsWithCurrManager (REAL)
 - index (REAL)
 - InfoDate (TEXT)
 - BusinessTravel_Travel_Frequently (REAL)
 - BusinessTravel_Travel_Rarely (REAL)
 - Department_Research & Development (REAL)
 - Department_Sales (REAL)
 - EducationField_Life Sciences (REAL)
 - EducationField_Marketing (REAL)
 - EducationField_Medical (REAL)
 - EducationField_Other (REAL)
 - EducationField_Technical Degree (REAL)
 - Gender_Male (REAL)
 - JobRole_Human Resources (REAL)
 - JobRole_Laboratory Technician (REAL)
 - JobRole_Manager (REAL)
 - JobRole_Manufacturing Director (REAL)
 - JobRole_Research Director (REAL)
 - JobRole_Research Scientist (REAL)
 - JobRole_Sales Executive (REAL)
 - JobRole_Sales Representative (REAL)
 - MaritalStatus_Married (REAL)
 - MaritalStatus_Single (REAL)


Tabla: retiros_processed
Número de registros: 650
Columnas:
 - index (INTEGER)
 - EmployeeID (INTEGER)
 - retirementDate (TEXT)
 - retirementType_Fired (INTEGER)
 - retirementType_Resignation (INTEGER)
 - resignationReason_Others (INTEGER)
 - resignationReason_Salary (INTEGER)
 - resignationReason_Stress (INTEGER)